@import 'common';

/* top-banner */
.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 70px;
    text-align: center;
    > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto 100%;
    }
    .container {
        position: relative;
        .btn-banner-close {
            position: absolute;
            top: 25px;
            right: 0;
            display: block;
        }
    }
}

/* header */
#header {
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    .header-area {
        .container {
            position: relative;
            padding: 48px 0;
            .logo {
                font-size: 0;
                display: inline-block;
                > a {
                    display: block;
                    img {
                        display: block;
                    }
                }
            }
            .header-util {
                position: absolute;
                top: 50%;
                right: 0;
                font-size: 0;
                transform: translateY(-50%);
                .search-area {
                    display: inline-block;
                    vertical-align: top;
                    width: 285px;
                    .form-group {
                        position: relative;
                        padding-right: 35px;
                        .form-control {
                            display: block;
                            width: 100%;
                            height: 34px;
                            font-size: 17px;
                            font-weight: 300;
                            color: #000;
                            padding: 0 5px 7px;
                            border: 0;
                            border-bottom: 1px solid #000;
                            &::placeholder {
                                color: #b7b7b7;
                                opacity: 1;
                            }
                            &:-ms-input-placeholder {
                                color: #b7b7b7;
                            }
                            &::-ms-input-placeholder {
                                color: #b7b7b7;
                            }
                        }
                        .btn-search-open {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: block;
                            img {
                                display: block;
                            }
                        }
                    }
                }
                > ul {
                    display: inline-block;
                    vertical-align: top;
                    > li {
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 25px;
                        > a {
                            position: relative;
                            display: block;
                            .basket-num {
                                position: absolute;
                                top: -6px;
                                right: -8px;
                                display: block;
                                width: 23px;
                                font-size: 14px;
                                color: #fff;
                                font-weight: 500;
                                line-height: 23px;
                                text-align: center;
                                border-radius: 50%;
                                background-color: $kcolor;
                            }
                            &.login {
                                font-size: 16px;
                                line-height: 34px;
                                font-weight: 500;
                                &:hover {
                                    color: $kcolor;
                                }
                            }
                            span {
                                display: block;
                                font-size: 16px;
                                color: #333;
                                line-height: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
    #gnb {
        font-size: 0;
        text-align: center;
        border-top: 2px solid #b2b2b2;
        border-bottom: 2px solid #b2b2b2;
        .container {
            position: relative;
            .home {
                position: absolute;
                top: 50%;
                left: 35px;
                display: none;
                transform: translateY(-50%);
                //display: none;
            }
            > .gnb-menu {
                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 70px;
                    &:last-child {
                        margin-right: 0;
                    }
                    > a {
                        position: relative;
                        display: inline-block;
                        font-size: 15px;
                        color: #000;
                        font-weight: 500;
                        line-height: 76px;
                        @include transition();
                        &:after {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            content: '';
                            display: block;
                            width: 0;
                            height: 4px;
                            transform: translateX(-50%);
                            background-color: $kcolor;
                            @include transition();
                        }
                    }
                    .nav-content {
                        position: absolute;
                        top: 100%;
                        overflow: hidden;
                        visibility: hidden;
                        .menu-wrap {
                            position: relative;
                            top: -40px;
                            opacity: 0;
                            display: table;
                            width: auto;
                            white-space: nowrap;
                            min-width: 610px;
                            padding: 40px;
                            border-top: 2px solid #b2b2b2;
                            background-color: #fff;
                            box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
                            @include transition();
                            > div {
                                display: table-cell;
                                vertical-align: top;
                                &.menu {
                                    text-align: left;
                                    > ul {
                                        > li {
                                            > a {
                                                display: inline-block;
                                                font-size: 14px;
                                                color: #000;
                                                font-weight: 500;
                                                line-height: 32px;
                                                @include transition();
                                                &:hover {
                                                    color: $kcolor;
                                                }
                                            }
                                        }
                                        &.col2 {
                                            overflow: hidden;
                                            > li {
                                                float: left;
                                                &:nth-of-type(2n + 1) {
                                                    width: 146px;
                                                    clear: left;
                                                    margin-right: 40px;
                                                }
                                            }
                                        }
                                        &.col3 {
                                            overflow: hidden;
                                            width: 470px;
                                            > li {
                                                float: left;
                                                margin-right: 40px;
                                                &:nth-of-type(3n + 1) {
                                                    width: 110px;
                                                    clear: left;
                                                }
                                                &:nth-of-type(3n + 2) {
                                                    width: 131px;
                                                }
                                                &:nth-of-type(3n + 3) {
                                                    margin-right: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.nav-banner {
                                    > a {
                                        display: inline-block;
                                        vertical-align: top;
                                        margin-right: 10px;
                                        &:last-child {
                                            margin-right: 0;
                                        }
                                        > figure {
                                            img {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.grid-left {
                            left: -40px;
                            .menu {
                                padding-right: 40px;
                            }
                        }
                        &.grid-right {
                            right: -40px;
                            .menu {
                                padding-left: 40px;
                            }
                        }
                    }
                    &.active {
                        > a {
                            color: $kcolor;
                            &:after {
                                width: 100%;
                            }
                        }
                        .nav-content {
                            visibility: visible;
                            .menu-wrap {
                                top: 0;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .gnb-util {
                position: absolute;
                top: 50%;
                right: 0;
                display: none;
                transform: translateY(-50%);
                > ul {
                    font-size: 0;
                    > li {
                        display: inline-block;
                        vertical-align: top;
                        padding: 0 10px;
                        > a {
                            position: relative;
                            display: block;
                            img {
                                display: block;
                            }
                            .basket-num {
                                position: absolute;
                                top: -6px;
                                right: -8px;
                                display: block;
                                width: 23px;
                                font-size: 14px;
                                color: #fff;
                                font-weight: 500;
                                line-height: 23px;
                                text-align: center;
                                border-radius: 50%;
                                background-color: $kcolor;
                            }
                            &.login {
                                font-size: 16px;
                                line-height: 34px;
                                font-weight: 500;
                                &:hover {
                                    color: $kcolor;
                                }
                            }
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

/* scrolled */
body {
    &.scrolled {
        padding-top: 150px;
        #header {
            #gnb {
                position: fixed;
                top: 70px;
                left: 0;
                width: 100%;
                z-index: 101;
                background-color: #fff;
                .container {
                    .home {
                        display: block;
                    }
                    .gnb-menu {
                        > li {
                            margin-right: 60px;
                        }
                    }
                    .gnb-util {
                        display: block;
                    }
                }
            }
        }
        &.banner-none {
            padding-top: 80px;
            #header {
                #gnb {
                    top: 0;
                }
            }
        }
    }
    &.banner-none {
        padding-top: 0;
    }
    &.search-open {
        overflow: hidden;
        .global-search-area {
            top: 0;
        }
        .search-backdrop {
            display: block;
        }
    }
}

/* footer */
#footer {
    padding: 70px 0 80px;
    border-top: 2px solid #b2b2b2;
    .container {
        position: relative;
        padding-left: 280px;
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 165px;
            img {
                display: block;
                width: 100%;
            }
        }
        .foot-area {
            .foot-link {
                overflow: hidden;
                > li {
                    float: left;
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                    > a {
                        display: block;
                        font-size: 15px;
                        font-weight: 400;
                        color: #000;
                    }
                }
            }
            .company-info {
                margin-top: 50px;
                > ul {
                    overflow: hidden;
                    font-size: 0;
                    * {
                        display: inline-block;
                        font-size: 15px;
                        font-weight: 400;
                        vertical-align: top;
                        line-height: 31px;
                    }
                    > li {
                        float: left;
                        &:after {
                            display: inline-block;
                            vertical-align: top;
                            content: '';
                            width: 1px;
                            height: 12px;
                            margin: 12px 18px 0 15px;
                            background-color: #000;
                        }
                        > dl {
                            > dt {
                                &:after {
                                    content: ':';
                                    margin: 0 3px 0 6px;
                                }
                            }
                        }
                        &:nth-of-type(2n + 1) {
                            clear: left;
                        }
                        &:last-child {
                            clear: none;
                        }
                        &:nth-of-type(2), &:nth-of-type(4), &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
            .copyright {
                font-size: 15px;
                font-weight: 400;
                margin-top: 50px;
            }
        }
    }
}

/* common */
.tab-content {
    .tab-pane {
        height: 0;
        visibility: hidden;
        &.active {
            height: auto;
            visibility: visible;
        }
    }
}

.dropdown {
    position: relative;
    > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    &.active {
        > ul {
            display: block;
        }
    }
}

/* quick-banner */
.quick-banner {
    position: absolute;
    top: 727px;
    z-index: 9;
    right: 50%;
    width: 100px;
    text-align: center;
    margin-right: -790px;
    display: none;
    > ul {
        width: 100%;
        padding: 0 10px;
        border: 1px solid #b7b7b7;
        background-color: #fff;
        > li {
            padding: 20px 0;
            border-bottom: 1px solid #b7b7b7;
            &:last-child {
                border-bottom: 0;
            }
            > p {
                font-size: 12px;
                color: #b7b7b7;
                font-weight: 400;
                padding-bottom: 10px;
            }
            > a {
                display: block;
                figure {
                    img {
                        display: block;
                        margin: 0 auto;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: cover;
                    }
                    figcaption {
                        font-size: 12px;
                        color: #000;
                        font-weight: 400;
                        margin-top: 10px;
                        b {
                            font-size: 29px;
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
                > dl {
                    > dt {
                        font-size: 12px;
                        color: #b7b7b7;
                        font-weight: 400;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
    @media(min-width: 1380px) {
        display: block;
    }
}
/* quick-top */
.quick-top {
    display: none;
    .btn-quick-top {
        position: fixed;
        z-index: 10;
        right: 50%;
        bottom: 50px;
        width: 70px;
        padding: 15.5px 0;
        text-align: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 8px 23.490000000000002px 3.51px rgba(0, 0, 0, 0.1);
        margin-right: -790px;
    }
    @media(min-width: 1380px) {
        &.show {
            display: block;
        }
    }
}

/* global-search-area */
.global-search-area {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 103;
    padding: 60px 0 100px;
    background-color: #fff;
    @include transition();
    .container {
        max-width: 750px;
        .search-area {
            .form-group {
                position: relative;
                padding-right: 64px;
                .form-control {
                    display: block;
                    width: 100%;
                    border: 0;
                    font-size: 30px;
                    color: #000;
                    padding-bottom: 20px;
                    padding-right: 45px;
                    font-weight: bold;
                    border-bottom: 3px solid #000;
                    &::placeholder {
                        color: #b7b7b7;
                        opacity: 1;
                    }
                    &:-ms-input-placeholder {
                        color: #b7b7b7;
                    }
                    &::-ms-input-placeholder {
                        color: #b7b7b7;
                    }
                }
                .btn-area {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding-bottom: 20px;
                    > .btn {
                        display: inline-block;
                        margin-right: 30px;
                        &:last-child {
                            margin-right: 0;
                        }
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
        .row {
            display: table;
            width: 100%;
            table-layout: fixed;
            margin-top: 60px;
            > div {
                display: table-cell;
                vertical-align: top;
                &.popular-search {
                    > dl {
                        > dt {
                            font-size: 25px;
                            color: $kcolor;
                            font-weight: bold;
                        }
                        > dd {
                            margin-top: 30px;
                            > ol {
                                > li {
                                    > a {
                                        font-size: 18px;
                                        line-height: 37px;
                                        color: #000;
                                        font-weight: 500;
                                        @include transition();
                                        &:hover {
                                            color: $kcolor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.banner {
                    width: 415px;
                    > a {
                        figure {
                            img {
                                display: block;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: 50% 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.search-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .3);
}

.modal {
    &.md-alert {
        display: none;
        .modal-content {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 400px;
            height: 230px;
            text-align: center;
            z-index: 104;
            padding-top: 75px;
            background-color: #fff;
            transform: translate(-50%, -50%);
            > .md-alert-close {
                position: absolute;
                top: 15px;
                right: 15px;
                display: block;
            }
            p {
                font-size: 23px;
                color: #000;
                font-weight: 500;
            }
            .btn-area {
                margin-top: 55px;
                .btn-default {
                    display: block;
                    width: 260px;
                    font-size: 16px;
                    color: #fff;
                    line-height: 48px;
                    font-weight: 500;
                    margin: 0 auto;
                    background-color: #000;
                }
            }
        }
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 103;
            background-color: rgba(#000, .3);
        }
        &.show {
            display: block;
        }
    }
}