@import 'common';

.nav-tab {
    padding: 70px 0;
}

/* company */
.company {
    .intro {
        /*padding-top: 130px;
        background-image: url(/content/pest/images/introduction/bg_intro.png);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: auto;*/
        .container {
            display: table;
            table-layout: fixed;
            > div {
                display: table-cell;
                vertical-align: middle;
                &.summary {
                    strong {
                        display: block;
                        font-size: 40px;
                        color: #000;
                        font-weight: bold;
                        line-height: 50px;
                    }
                    b {
                        display: block;
                        font-size: 25px;
                        font-weight: 500;
                        line-height: 45px;
                        color: #958052;
                    }
                    p {
                        font-size: 14px;
                        line-height: 25px;
                        color: #000;
                        font-weight: 400;
                        margin-top: 70px;
                    }
                }
                &.item-img {
                    width: 615px;
                    > figure {
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .history {
        margin-top: 100px;
        > .container {
            > div {
                margin-top: 85px;
                .item-img {
                    > figure {
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
                .details {
                    > b {
                        display: block;
                        font-size: 24px;
                        color: #111;
                        font-weight: 600;
                        @include msr();
                    }
                    dl {
                        margin-top: 15px;
                        dt {
                            font-size: 25px;
                            color: #997f4c;
                            line-height: 35px;
                            font-weight: 500;
                        }
                        dd {
                            font-size: 14px;
                            line-height: 25px;
                            color: #000;
                            font-weight: 400;
                            margin-top: 30px;
                        }
                    }
                    &.space-left {
                        padding-left: 70px;
                    }
                    &.space-right {
                        padding-right: 70px;
                    }
                }
                &.his-1 {
                    display: table;
                    width: 100%;
                    > div {
                        display: table-cell;
                        vertical-align: bottom;
                    }
                }
                &.his-2 {
                    .item-img {
                        > figure {
                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                    .details {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                        margin-top: 40px;
                        b {
                            display: table-cell;
                            vertical-align: top;
                            width: 180px;
                        }
                        dl {
                            display: table-cell;
                            vertical-align: top;
                        }
                    }
                }
                &.his-3 {
                    > ul {
                        display: table;
                        width: 100%;
                        table-layout: fixed;
                        > li {
                            display: table-cell;
                            width: 50%;
                            vertical-align: top;
                            &:nth-of-type(1) {
                                padding-right: 15px;
                            }
                            &:nth-of-type(2) {
                                padding-left: 15px;
                            }
                            .details {
                                margin-top: 40px;
                                dl {
                                    dd {
                                        letter-spacing: -.8px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.his-4 {
                    .item-img {
                        margin-top: 40px;
                        > ul {
                            display: table;
                            width: 100%;
                            table-layout: fixed;
                            > li {
                                display: table-cell;
                                width: 50%;
                                vertical-align: top;
                                &:nth-of-type(1) {
                                    padding-right: 15px;
                                }
                                &:nth-of-type(2) {
                                    padding-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* research */
.research {
    .article-header {
        text-align: center;
        h4 {
            font-size: 30px;
            color: #000;
            line-height: 45px;
            font-weight: bold;
        }
        p {
            font-size: 14px;
            color: #000;
            line-height: 25px;
            font-weight: 400;
            margin-top: 30px;
        }
    }
    .intro {
        .container {
            position: relative;
            padding-left: 600px;
            > figure {
                position: absolute;
                top: 0;
                left: -310px;
                img {
                    display: block;
                    max-width: 100%;
                }
            }
            .details {
                display: table;
                width: 100%;
                height: 737px;
                padding-left: 50px;
                > .v-align {
                    display: table-cell;
                    vertical-align: bottom;
                    padding-bottom: 75px;
                    b {
                        display: block;
                        font-size: 30px;
                        color: #000;
                        font-weight: bold;
                    }
                    p {
                        font-size: 14px;
                        color: #000;
                        line-height: 25px;
                        font-weight: 400;
                        margin-top: 15px;
                    }
                    > ul {
                        overflow: hidden;
                        margin-top: 100px;
                        > li {
                            float: left;
                            width: 50%;
                            > dl {
                                dt {
                                    font-size: 25px;
                                    color: #000;
                                    font-weight: 500;
                                }
                                dd {
                                    font-size: 16px;
                                    line-height: 30px;
                                    color: #9db4bf;
                                    font-weight: 400;
                                    margin-top: 20px;
                                }
                            }
                            &:nth-of-type(2n + 1) {
                                clear: left;
                            }
                            &:nth-of-type(2) ~ li {
                                margin-top: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
    .flocoumafen {
        .article-header {
            padding: 95px 0 45px;
        }
        .article-content {
            text-align: center;
            .backdrop {
                width: 100%;
                height: 454px;
                background-image: url(/content/pest/images/introduction/bg_flocoumafen.png);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: 50% 50%;
            }
            .summary {
                padding-top: 75px;
                p {
                    font-size: 14px;
                    color: #000;
                    font-weight: 400;
                    line-height: 25px;
                }
                figure {
                    margin-top: 75px;
                    img {
                        display: block;
                        margin: 0 auto;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .initial {
        .article-header {
            padding: 95px 0;
        }
        .article-content {
            text-align: center;
            > ul {
                display: table;
                table-layout: fixed;
                width: calc(100% + 20px);
                margin: 0 -10px;
                > li {
                    display: table-cell;
                    vertical-align: top;
                    padding: 0 10px;
                    > figure {
                        img {
                            width: 100%;
                            display: block;
                        }
                        figcaption {
                            font-size: 16px;
                            color: #000;
                            font-weight: 400;
                            margin-top: 20px;
                        }
                    }
                }
            }
            .summary {
                padding-top: 75px;
                p {
                    font-size: 14px;
                    color: #000;
                    font-weight: 400;
                    line-height: 25px;
                }
                figure {
                    margin-top: 75px;
                    img {
                        display: block;
                        margin: 0 auto;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .special {
        .article-header {
            padding: 95px 0;
        }
        .article-content {
            .backdrop {
                width: 100%;
                height: 454px;
                background-image: url(/content/pest/images/introduction/bg_special.png);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: 50% 50%;
                .container {
                    padding-top: 80px;
                    p {
                        font-size: 16px;
                        color: #fff;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }
            }
            .summary {
                margin-top: 100px;
                .container {
                    display: table;
                    height: 100%;
                    table-layout: fixed;
                    > div {
                        display: table-cell;
                        height: 100%;
                        vertical-align: top;
                        strong {
                            display: block;
                            font-size: 30px;
                            line-height: 45px;
                            color: #000;
                            font-weight: bold;
                        }
                        p {
                            font-size: 14px;
                            color: #000;
                            font-weight: 400;
                            line-height: 25px;
                        }
                        &:first-child {
                            position: relative;
                            width: 570px;
                            padding-right: 70px;
                            > figure {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                img {
                                    display: block;
                                    max-width: 100%;
                                }
                            }
                        }
                        &:last-child {
                            figure {
                                margin-top: 60px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .production {
        .article-header {
            padding: 100px 0 80px;
        }
        .article-content {
            text-align: center;
            > ul {
                display: table;
                width: calc(100% + 20px);
                margin: 0 -10px;
                table-layout: fixed;
                > li {
                    display: table-cell;
                    vertical-align: top;
                    padding: 0 10px;
                    > figure {
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            p {
                font-size: 14px;
                color: #000;
                font-weight: 400;
                margin-top: 35px;
            }
        }
    }
}

/* patent */
.patent {
    .article-header {
        padding-bottom: 80px;
        h4 {
            font-size: 30px;
            color: #000;
            line-height: 45px;
            font-weight: bold;
        }
        p {
            font-size: 14px;
            color: #000;
            line-height: 25px;
            font-weight: 400;
            margin-top: 30px;
        }
    }
    figure {
        img {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    article {
        text-align: center;
        padding: 100px 0;
        &:first-child {
            padding-top: 50px;
        }
        &.global-star {
            background-color: #f1f1f1;
        }
    }
}






























































