@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  min-width: 1300px; }

body {
  position: relative;
  font-size: 17px;
  color: #000;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 70px;
  word-break: keep-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

.container {
  display: block;
  width: 1200px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none !important; }

a, button {
  color: #000;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

pre {
  white-space: pre-wrap; }

/* product-list */
.product-list .article-header {
  padding: 60px 0 55px; }
.product-list .article-content .tab-content {
  padding-top: 40px; }

/* product-details */
.product-details {
  position: relative;
  padding-top: 90px; }
  .product-details .product-info {
    position: absolute;
    top: 90px;
    right: 50%;
    z-index: 1;
    margin-right: -600px;
    width: 410px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #fff; }
    .product-details .product-info .info-wrap .info-header {
      position: relative; }
      .product-details .product-info .info-wrap .info-header h4 {
        font-size: 25px;
        color: #000;
        font-weight: bold; }
      .product-details .product-info .info-wrap .info-header .btn-dibs {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 33px;
        height: 30px;
        background-image: url(/content/pest/images/product/ico_heart.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .product-details .product-info .info-wrap .info-header .btn-dibs.on {
          background-image: url(/content/pest/images/product/ico_heart_on.png); }
      .product-details .product-info .info-wrap .info-header > p {
        display: block;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        line-height: 21px;
        margin-top: 15px; }
      .product-details .product-info .info-wrap .info-header .price-wrap {
        padding-top: 20px; }
        .product-details .product-info .info-wrap .info-header .price-wrap .price {
          font-size: 0; }
          .product-details .product-info .info-wrap .info-header .price-wrap .price span {
            display: inline-block;
            vertical-align: top;
            font-size: 26px;
            color: #0e3db4;
            font-weight: 500;
            margin-right: 10px;
            line-height: 44px; }
          .product-details .product-info .info-wrap .info-header .price-wrap .price p {
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            color: #000;
            font-weight: 400;
            line-height: 44px; }
            .product-details .product-info .info-wrap .info-header .price-wrap .price p > b {
              font-size: 30px;
              font-weight: bold;
              vertical-align: top; }
            .product-details .product-info .info-wrap .info-header .price-wrap .price p small {
              display: inline-block;
              vertical-align: top;
              font-size: 15px;
              line-height: 16px;
              padding-top: 16px;
              text-decoration: line-through;
              font-weight: bold;
              color: rgba(0, 0, 0, 0.4);
              margin-left: 10px; }
        .product-details .product-info .info-wrap .info-header .price-wrap .coupon {
          font-size: 0;
          margin-top: 10px; }
          .product-details .product-info .info-wrap .info-header .price-wrap .coupon .btn-coupon {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            color: #fff;
            font-weight: 400;
            line-height: 34px;
            padding: 0 10px;
            text-align: center;
            background-color: #0e3db4; }
            .product-details .product-info .info-wrap .info-header .price-wrap .coupon .btn-coupon .ico-down {
              display: inline-block;
              vertical-align: top;
              width: 12px;
              height: 34px;
              margin-left: 5px;
              background-image: url(/content/pest/images/product/ico_down.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: 12px auto; }
          .product-details .product-info .info-wrap .info-header .price-wrap .coupon .ticker {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-left: 10px; }
            .product-details .product-info .info-wrap .info-header .price-wrap .coupon .ticker .btn-ticker {
              display: block;
              padding: 7px 0; }
            .product-details .product-info .info-wrap .info-header .price-wrap .coupon .ticker .ticker-pop {
              display: none;
              position: absolute;
              top: -20%;
              left: 50%;
              white-space: nowrap;
              padding: 7px 10px;
              background-color: #fff;
              border: 1px solid #000;
              transform: translate(-50%, -100%); }
              .product-details .product-info .info-wrap .info-header .price-wrap .coupon .ticker .ticker-pop:after {
                position: absolute;
                bottom: -10px;
                left: 50%;
                margin-left: -6.5px;
                content: url(/content/pest/images/product/ico_ticker_bottom.png); }
              .product-details .product-info .info-wrap .info-header .price-wrap .coupon .ticker .ticker-pop p {
                font-size: 13px;
                line-height: 20px;
                color: #000;
                font-weight: 400; }
            .product-details .product-info .info-wrap .info-header .price-wrap .coupon .ticker.show .ticker-pop {
              display: block; }
    .product-details .product-info .info-wrap .info-body {
      padding-top: 15px; }
      .product-details .product-info .info-wrap .info-body .options {
        padding-bottom: 20px; }
        .product-details .product-info .info-wrap .info-body .options > ul > li > dl {
          display: table;
          width: 100%; }
          .product-details .product-info .info-wrap .info-body .options > ul > li > dl > dt, .product-details .product-info .info-wrap .info-body .options > ul > li > dl dd {
            display: table-cell;
            vertical-align: middle; }
          .product-details .product-info .info-wrap .info-body .options > ul > li > dl dt {
            width: 90px;
            font-size: 14px;
            color: #000;
            font-weight: 400; }
        .product-details .product-info .info-wrap .info-body .options > ul > li ~ li {
          margin-top: 6px; }
      .product-details .product-info .info-wrap .info-body .selection-box {
        border-top: 1px solid #d7d7d7; }
        .product-details .product-info .info-wrap .info-body .selection-box > ul > li {
          border-bottom: 1px solid #d7d7d7; }
          .product-details .product-info .info-wrap .info-body .selection-box > ul > li:last-child {
            border-bottom: 0; }
          .product-details .product-info .info-wrap .info-body .selection-box > ul > li .box {
            padding: 20px 0;
            position: relative; }
            .product-details .product-info .info-wrap .info-body .selection-box > ul > li .box .btn-del {
              position: absolute;
              top: 20px;
              right: 0; }
            .product-details .product-info .info-wrap .info-body .selection-box > ul > li .box > p {
              font-size: 16px;
              color: #000;
              font-weight: 500;
              line-height: 28px; }
            .product-details .product-info .info-wrap .info-body .selection-box > ul > li .box .pay-info {
              position: relative;
              text-align: right;
              margin-top: 20px; }
              .product-details .product-info .info-wrap .info-body .selection-box > ul > li .box .pay-info .btn-controls {
                position: absolute;
                top: 0;
                left: 0; }
              .product-details .product-info .info-wrap .info-body .selection-box > ul > li .box .pay-info b {
                font-size: 22px;
                color: #000;
                font-weight: 500;
                line-height: 36px; }
      .product-details .product-info .info-wrap .info-body .amount {
        border-top: 4px solid #000;
        border-bottom: 4px solid #000; }
        .product-details .product-info .info-wrap .info-body .amount .total {
          display: table;
          width: 100%;
          table-layout: fixed;
          padding-top: 20px; }
          .product-details .product-info .info-wrap .info-body .amount .total > dt, .product-details .product-info .info-wrap .info-body .amount .total dd {
            display: table-cell;
            vertical-align: middle; }
          .product-details .product-info .info-wrap .info-body .amount .total dt {
            width: 90px;
            font-size: 14px;
            color: #000;
            font-weight: 500; }
          .product-details .product-info .info-wrap .info-body .amount .total dd {
            font-size: 18px;
            color: #000;
            font-weight: 400;
            text-align: right; }
            .product-details .product-info .info-wrap .info-body .amount .total dd b {
              font-size: 30px;
              font-weight: bold; }
        .product-details .product-info .info-wrap .info-body .amount .btn-area {
          font-size: 0;
          text-align: center;
          padding: 30px 0; }
          .product-details .product-info .info-wrap .info-body .amount .btn-area > .btn {
            display: inline-block;
            vertical-align: top; }
            .product-details .product-info .info-wrap .info-body .amount .btn-area > .btn.btn-basket {
              width: 164px;
              font-size: 16px;
              color: #000;
              font-weight: 400;
              line-height: 50px;
              border: 1px solid #d7d7d7;
              background-color: #fff; }
            .product-details .product-info .info-wrap .info-body .amount .btn-area > .btn.btn-purchase {
              font-size: 16px;
              color: #fff;
              font-weight: 400;
              line-height: 52px;
              width: calc(100% - 164px);
              background-image: url(/content/pest/images/product/bg_btn_purchase.png);
              background-position: 50% 0;
              background-size: cover;
              background-repeat: no-repeat; }
      .product-details .product-info .info-wrap .info-body .n-pay {
        padding: 20px 0; }
      .product-details .product-info .info-wrap .info-body .delivery-info > dl {
        display: table;
        width: 100%;
        table-layout: fixed; }
        .product-details .product-info .info-wrap .info-body .delivery-info > dl dt, .product-details .product-info .info-wrap .info-body .delivery-info > dl dd {
          display: table-cell;
          vertical-align: top; }
        .product-details .product-info .info-wrap .info-body .delivery-info > dl > dt {
          width: 90px;
          font-size: 14px;
          color: #000;
          font-weight: 500; }
        .product-details .product-info .info-wrap .info-body .delivery-info > dl > dd {
          font-size: 12px;
          color: #919191;
          font-weight: 400;
          letter-spacing: -.5px;
          line-height: 23px; }
    .product-details .product-info.fixed {
      position: fixed;
      top: 230px; }
    .product-details .product-info.fixed-none {
      display: none; }
  .product-details .details-wrap {
    position: relative; }
    .product-details .details-wrap .container {
      padding-right: 410px; }
    .product-details .details-wrap .details-header .product-slider {
      position: relative; }
      .product-details .details-wrap .details-header .product-slider .swiper-wrapper .swiper-slide > figure img {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
      .product-details .details-wrap .details-header .product-slider .btn-enlarge {
        position: absolute;
        bottom: 40px;
        left: 40px;
        display: block;
        z-index: 1; }
        .product-details .details-wrap .details-header .product-slider .btn-enlarge img {
          display: block; }
    .product-details .details-wrap .details-header .swiper-nav-area {
      position: relative;
      width: 360px;
      margin: 30px auto 0; }
      .product-details .details-wrap .details-header .swiper-nav-area .nav-slider .swiper-wrapper .swiper-slide {
        cursor: pointer; }
        .product-details .details-wrap .details-header .swiper-nav-area .nav-slider .swiper-wrapper .swiper-slide > figure img {
          display: block;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover; }
      .product-details .details-wrap .details-header .swiper-nav-area .controls > button {
        position: absolute;
        top: 50%;
        display: block;
        width: 11px;
        height: 20px;
        margin: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: auto;
        transform: translateY(-50%); }
        .product-details .details-wrap .details-header .swiper-nav-area .controls > button:after {
          display: none; }
        .product-details .details-wrap .details-header .swiper-nav-area .controls > button.swiper-button-prev {
          left: -50px;
          background-image: url(/content/pest/images/product/btn_nav_slide_prev.png); }
        .product-details .details-wrap .details-header .swiper-nav-area .controls > button.swiper-button-next {
          right: -50px;
          background-image: url(/content/pest/images/product/btn_nav_slide_next.png); }
    .product-details .details-wrap article {
      margin-top: 80px; }
      .product-details .details-wrap article .article-header {
        position: relative;
        padding-bottom: 15px;
        border-bottom: 3px solid #0e3db4; }
        .product-details .details-wrap article .article-header h4 {
          font-size: 20px;
          font-weight: 500;
          color: #0e3db4; }
        .product-details .details-wrap article .article-header .btn-more {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          font-size: 14px;
          color: #919191;
          font-weight: 500;
          padding-bottom: 5px;
          border-bottom: 1px solid #919191; }
        .product-details .details-wrap article .article-header .btn-write {
          position: absolute;
          bottom: 15px;
          right: 0;
          display: block;
          font-size: 16px;
          color: #000;
          font-weight: 500;
          padding: 0 20px;
          line-height: 34px;
          border: 1px solid #d7d7d7; }
      .product-details .details-wrap article .article-content {
        padding-top: 20px; }
      .product-details .details-wrap article ~ article {
        margin-top: 75px; }

.relation-item .article-content > ul {
  overflow: hidden; }
  .relation-item .article-content > ul > li {
    float: left;
    width: 50%; }
    .relation-item .article-content > ul > li > a {
      display: table;
      table-layout: fixed; }
      .relation-item .article-content > ul > li > a > div {
        display: table-cell;
        vertical-align: bottom; }
        .relation-item .article-content > ul > li > a > div.item {
          width: 115px; }
          .relation-item .article-content > ul > li > a > div.item figure img {
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%; }
        .relation-item .article-content > ul > li > a > div.details {
          padding-left: 15px;
          padding-bottom: 5px; }
          .relation-item .article-content > ul > li > a > div.details dl dt {
            font-size: 16px;
            color: #000;
            font-weight: bold;
            line-height: 24px; }
          .relation-item .article-content > ul > li > a > div.details dl dd {
            font-size: 16px;
            color: #000;
            font-weight: 400;
            line-height: 24px; }
          .relation-item .article-content > ul > li > a > div.details p {
            font-size: 18px;
            color: #0e3db4;
            font-weight: 500;
            margin-top: 15px; }
            .relation-item .article-content > ul > li > a > div.details p small {
              display: inline-block;
              font-size: 14px;
              color: #000;
              font-weight: 400;
              margin-left: 5px;
              text-decoration: line-through; }
    .relation-item .article-content > ul > li:nth-of-type(2n + 1) {
      padding-right: 7.5px; }
    .relation-item .article-content > ul > li:nth-of-type(2n + 2) {
      padding-left: 7.5px; }
    .relation-item .article-content > ul > li:nth-of-type(2) ~ li {
      margin-top: 15px; }

.photo-review {
  padding-bottom: 138px;
  border-bottom: 1px solid red; }
  .photo-review .article-content .review-list {
    width: calc(100% + 20px);
    margin: 0 -10px; }
    .photo-review .article-content .review-list > li {
      padding: 0 10px; }

.info-details .article-header {
  border-bottom: 0 !important; }
.info-details .article-content > figure {
  height: 780px;
  overflow: hidden; }
  .info-details .article-content > figure img {
    display: block;
    width: 100%; }
.info-details .article-content .btn-area {
  display: block;
  width: 100%; }
  .info-details .article-content .btn-area .btn-details {
    display: block;
    font-size: 14px;
    color: #000;
    line-height: 52px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff; }
    .info-details .article-content .btn-area .btn-details .ico-down {
      width: 15px;
      height: 52px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      background-image: url(/content/pest/images/product/ico_details_down.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: auto; }
.info-details .article-content.show-details > figure {
  height: auto; }
.info-details .article-content.show-details .btn-area {
  display: none; }

.product-review .article-content {
  padding-top: 0 !important; }
  .product-review .article-content > ul > li {
    border-bottom: 2px solid #e4e4e4; }
    .product-review .article-content > ul > li .review-wrap {
      display: block;
      padding: 30px 0; }
      .product-review .article-content > ul > li .review-wrap .review-info {
        position: relative;
        padding-right: 270px; }
        .product-review .article-content > ul > li .review-wrap .review-info .usr-grade {
          font-size: 0; }
          .product-review .article-content > ul > li .review-wrap .review-info .usr-grade .grade {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px; }
            .product-review .article-content > ul > li .review-wrap .review-info .usr-grade .grade > ol > li {
              display: inline-block;
              vertical-align: top; }
              .product-review .article-content > ul > li .review-wrap .review-info .usr-grade .grade > ol > li img {
                display: block; }
              .product-review .article-content > ul > li .review-wrap .review-info .usr-grade .grade > ol > li ~ li {
                margin-left: 2px; }
          .product-review .article-content > ul > li .review-wrap .review-info .usr-grade i {
            display: inline-block;
            font-size: 15px;
            color: #919191;
            line-height: 17px;
            font-style: normal;
            margin-right: 10px; }
          .product-review .article-content > ul > li .review-wrap .review-info .usr-grade .date {
            display: inline-block;
            font-size: 13px;
            color: #919191;
            line-height: 17px; }
        .product-review .article-content > ul > li .review-wrap .review-info .review-util {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 0;
          text-align: right; }
          .product-review .article-content > ul > li .review-wrap .review-info .review-util > div {
            display: inline-block;
            vertical-align: top; }
            .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.like {
              border: 1px solid #919191; }
              .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.like > span {
                display: inline-block;
                font-size: 14px;
                color: #000;
                font-weight: 500;
                line-height: 36px;
                padding: 0 15px;
                background-color: #fff;
                border-right: 1px solid #919191; }
              .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.like .btn-like {
                display: inline-block;
                vertical-align: top;
                width: 64px;
                height: 36px;
                line-height: 36px;
                font-size: 20px;
                color: #000;
                text-align: center;
                font-weight: bold;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
                .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.like .btn-like .ico-like {
                  display: inline-block;
                  vertical-align: top;
                  width: 21px;
                  height: 36px;
                  margin-right: 5px;
                  background-image: url(/content/pest/images/product/ico_like.png);
                  background-repeat: no-repeat;
                  background-position: 50% 50%;
                  background-size: auto;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 0.15s;
                  transition-duration: 0.15s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 0s;
                  transition-delay: 0s; }
                .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.like .btn-like.on {
                  color: #fff;
                  background-color: #0e3db4; }
                  .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.like .btn-like.on .ico-like {
                    background-image: url(/content/pest/images/product/ico_like_on.png); }
            .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.modify-drop .drop-area {
              position: relative; }
              .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.modify-drop .drop-area .btn-drop-more {
                display: block;
                width: 20px; }
              .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.modify-drop .drop-area > ul {
                display: none;
                position: absolute;
                top: 0;
                right: 100%;
                padding: 5px 10px;
                border: 1px solid #919191;
                background-color: #fff; }
                .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.modify-drop .drop-area > ul > li > a {
                  display: block;
                  font-size: 14px;
                  color: #000;
                  font-weight: 400;
                  line-height: 23px;
                  padding-right: 35px;
                  background-repeat: no-repeat;
                  background-position: 100% 50%; }
                  .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.modify-drop .drop-area > ul > li > a.btn-modify {
                    background-image: url(/content/pest/images/sub/ico_modify.png); }
                  .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.modify-drop .drop-area > ul > li > a.btn-delete {
                    background-image: url(/content/pest/images/sub/ico_delete.png); }
              .product-review .article-content > ul > li .review-wrap .review-info .review-util > div.modify-drop .drop-area.show > ul {
                display: block; }
      .product-review .article-content > ul > li .review-wrap .review-content {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-top: 25px; }
        .product-review .article-content > ul > li .review-wrap .review-content > div {
          display: table-cell;
          vertical-align: top; }
          .product-review .article-content > ul > li .review-wrap .review-content > div.review-txt > dl > dt {
            font-size: 14px;
            color: #919191;
            font-weight: 400;
            line-height: 24px; }
          .product-review .article-content > ul > li .review-wrap .review-content > div.review-txt > dl > dd {
            font-size: 14px;
            color: #000;
            font-weight: 400;
            line-height: 24px; }
          .product-review .article-content > ul > li .review-wrap .review-content > div.review-img {
            width: 270px; }
            .product-review .article-content > ul > li .review-wrap .review-content > div.review-img > figure {
              display: block;
              width: 94px;
              margin-left: auto; }
              .product-review .article-content > ul > li .review-wrap .review-content > div.review-img > figure img {
                display: block;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%; }
  .product-review .article-content .pagination {
    margin-top: 30px; }

/* amount-info */
.amount-info .article-header > a {
  position: relative;
  display: block; }
  .amount-info .article-header > a:after {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    content: url(/content/pest/images/product/ico_arrow_up.png);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    transform: translateY(-50%); }
.amount-info .article-content {
  padding: 30px 0; }
  .amount-info .article-content > dl > dt {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    line-height: 25px; }
    .amount-info .article-content > dl > dt ~ dt {
      margin-top: 40px; }
  .amount-info .article-content > dl > dd {
    font-size: 14px;
    color: #000;
    letter-spacing: -.5px;
    font-weight: 400;
    line-height: 25px; }
    .amount-info .article-content > dl > dd .dott-list > li {
      position: relative;
      padding-left: 10px; }
      .amount-info .article-content > dl > dd .dott-list > li:before {
        position: absolute;
        top: -5px;
        left: 0;
        content: '. '; }
      .amount-info .article-content > dl > dd .dott-list > li > dl {
        display: table; }
        .amount-info .article-content > dl > dd .dott-list > li > dl dt:after {
          content: ':';
          padding: 0 5px; }
        .amount-info .article-content > dl > dd .dott-list > li > dl dt, .amount-info .article-content > dl > dd .dott-list > li > dl dd {
          display: table-cell;
          vertical-align: top; }
      .amount-info .article-content > dl > dd .dott-list > li.block > dl {
        display: block; }
        .amount-info .article-content > dl > dd .dott-list > li.block > dl dt {
          display: block; }
        .amount-info .article-content > dl > dd .dott-list > li.block > dl dd {
          display: block; }
          .amount-info .article-content > dl > dd .dott-list > li.block > dl dd .dash-list {
            padding-left: 10px; }
            .amount-info .article-content > dl > dd .dott-list > li.block > dl dd .dash-list > li {
              position: relative;
              padding-left: 10px; }
              .amount-info .article-content > dl > dd .dott-list > li.block > dl dd .dash-list > li:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '-'; }
              .amount-info .article-content > dl > dd .dott-list > li.block > dl dd .dash-list > li > dl {
                display: table; }
                .amount-info .article-content > dl > dd .dott-list > li.block > dl dd .dash-list > li > dl dt, .amount-info .article-content > dl > dd .dott-list > li.block > dl dd .dash-list > li > dl dd {
                  display: table-cell;
                  vertical-align: top; }
                .amount-info .article-content > dl > dd .dott-list > li.block > dl dd .dash-list > li > dl dt:after {
                  content: ':';
                  padding: 0 5px; }
  .amount-info .article-content .attention {
    position: relative;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    margin-top: 35px;
    padding-left: 20px; }
    .amount-info .article-content .attention:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '※'; }
.amount-info.show .article-header > a:after {
  transform: rotate(180deg); }

/* details-tab */
.details-tab {
  position: absolute;
  top: 2260px;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  background-color: #f1f1f1; }
  .details-tab .container {
    padding-right: 410px; }
    .details-tab .container > ul {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .details-tab .container > ul > li {
        display: table-cell;
        vertical-align: middle; }
        .details-tab .container > ul > li > a {
          display: block;
          font-size: 14px;
          color: #000;
          font-weight: 400;
          line-height: 58px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        .details-tab .container > ul > li.active > a {
          color: #fff;
          background-color: #0e3db4; }
  .details-tab.fixed-tab {
    position: fixed;
    top: 150px; }

/* qna-list */
.qna-list .article-content {
  padding-top: 0 !important; }
  .qna-list .article-content .default-board .accordion-list > ul > li .btn-collapse {
    padding-left: 0;
    padding-right: 0; }
    .qna-list .article-content .default-board .accordion-list > ul > li .btn-collapse > dl dt {
      color: #919191; }
  .qna-list .article-content .pagination {
    margin-top: 30px; }

body.banner-none .details-tab {
  top: 2190px; }
  body.banner-none .details-tab.fixed-tab {
    top: 80px; }

/* modal */
.modal.modal-enlarge .btn-modal-close {
  position: fixed;
  top: 80px;
  right: 80px;
  display: block;
  z-index: 104; }
.modal.modal-enlarge .modal-content {
  display: table;
  table-layout: fixed;
  width: 810px; }
  .modal.modal-enlarge .modal-content > div {
    display: table-cell;
    vertical-align: top; }
    .modal.modal-enlarge .modal-content > div.frame-area {
      overflow: hidden;
      width: 720px;
      height: 720px;
      background-color: #fff; }
      .modal.modal-enlarge .modal-content > div.frame-area > figure img {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
    .modal.modal-enlarge .modal-content > div.frame-contols {
      position: relative;
      padding-left: 18px; }
      .modal.modal-enlarge .modal-content > div.frame-contols > ul {
        padding-bottom: 150px; }
        .modal.modal-enlarge .modal-content > div.frame-contols > ul > li {
          width: 70px;
          height: 70px; }
          .modal.modal-enlarge .modal-content > div.frame-contols > ul > li img {
            display: block;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .modal.modal-enlarge .modal-content > div.frame-contols > ul > li ~ li {
            margin-top: 5px; }
      .modal.modal-enlarge .modal-content > div.frame-contols .btn-area {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70px; }
        .modal.modal-enlarge .modal-content > div.frame-contols .btn-area > a {
          display: block;
          width: 70px;
          height: 70px;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: auto; }
          .modal.modal-enlarge .modal-content > div.frame-contols .btn-area > a.btn-plus {
            background-image: url(/content/pest/images/product/ico_plus.png); }
          .modal.modal-enlarge .modal-content > div.frame-contols .btn-area > a.btn-minus {
            background-image: url(/content/pest/images/product/ico_minus.png); }
.modal.modal-review .modal-content {
  width: 720px;
  max-height: 680px;
  overflow-y: auto;
  background-color: #fff; }
  .modal.modal-review .modal-content .content-head {
    text-align: center;
    padding: 60px 0 50px; }
    .modal.modal-review .modal-content .content-head h4 {
      font-size: 25px;
      color: #000;
      font-weight: 400; }
    .modal.modal-review .modal-content .content-head .grade {
      margin-top: 30px; }
      .modal.modal-review .modal-content .content-head .grade > ol > li {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px; }
        .modal.modal-review .modal-content .content-head .grade > ol > li > a {
          display: block; }
          .modal.modal-review .modal-content .content-head .grade > ol > li > a img {
            display: block; }
      .modal.modal-review .modal-content .content-head .grade p {
        font-size: 35px;
        color: #0e3db4;
        font-weight: 500;
        margin-top: 30px; }
  .modal.modal-review .modal-content .content-body {
    position: relative;
    padding: 0 45px 60px; }
    .modal.modal-review .modal-content .content-body .form-group {
      padding: 30px;
      border: 1px solid #d7d7d7; }
      .modal.modal-review .modal-content .content-body .form-group .form-control {
        height: 180px;
        border: 0;
        padding: 0;
        resize: none; }
      .modal.modal-review .modal-content .content-body .form-group span {
        display: block;
        font-size: 17px;
        color: #010101;
        text-align: right;
        padding-top: 30px; }
    .modal.modal-review .modal-content .content-body .file-attach {
      margin-top: 10px; }
      .modal.modal-review .modal-content .content-body .file-attach input[type="file"] {
        display: none; }
      .modal.modal-review .modal-content .content-body .file-attach .btn-flie {
        display: block;
        width: 100%;
        line-height: 70px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        cursor: pointer;
        background-color: #0e3db4; }
      .modal.modal-review .modal-content .content-body .file-attach .attention {
        font-size: 14px;
        color: #ababab;
        font-weight: 400;
        margin-top: 15px; }
    .modal.modal-review .modal-content .content-body .file-list {
      margin-top: 30px;
      padding-bottom: 45px; }
      .modal.modal-review .modal-content .content-body .file-list > ul {
        font-size: 0; }
        .modal.modal-review .modal-content .content-body .file-list > ul > li {
          display: inline-block;
          vertical-align: top;
          width: 85px;
          margin-right: 10px; }
          .modal.modal-review .modal-content .content-body .file-list > ul > li:last-child {
            margin-right: 0; }
          .modal.modal-review .modal-content .content-body .file-list > ul > li > .file-wrap {
            position: relative; }
            .modal.modal-review .modal-content .content-body .file-list > ul > li > .file-wrap figure img {
              display: block;
              width: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: 50% 50%; }
          .modal.modal-review .modal-content .content-body .file-list > ul > li .btn-del {
            position: absolute;
            top: 8px;
            right: 8px;
            display: block; }
            .modal.modal-review .modal-content .content-body .file-list > ul > li .btn-del img {
              display: block; }
          .modal.modal-review .modal-content .content-body .file-list > ul > li .btn-file-modify {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            background-color: rgba(0, 0, 0, 0.2); }
    .modal.modal-review .modal-content .content-body .btn-area {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 0;
      text-align: center;
      margin-top: 45px; }
      .modal.modal-review .modal-content .content-body .btn-area .btn {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 20px;
        font-weight: 400;
        line-height: 60px; }
        .modal.modal-review .modal-content .content-body .btn-area .btn.btn-cancel {
          color: #000;
          background-color: #f5f5f5; }
        .modal.modal-review .modal-content .content-body .btn-area .btn.btn-submit {
          color: #fff;
          background-color: #0e3db4; }
.modal.modal-qna .modal-content {
  width: 720px;
  max-height: 680px;
  overflow-y: auto;
  background-color: #fff; }
  .modal.modal-qna .modal-content h4 {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    background-color: #0e3db4; }
  .modal.modal-qna .modal-content .write-form {
    padding-top: 30px; }
    .modal.modal-qna .modal-content .write-form > ul {
      padding: 0 30px; }
      .modal.modal-qna .modal-content .write-form > ul > li dl dt {
        font-size: 18px;
        color: #000;
        font-weight: 500;
        padding-bottom: 15px; }
      .modal.modal-qna .modal-content .write-form > ul > li dl dd .form-group .form-control {
        font-size: 16px; }
      .modal.modal-qna .modal-content .write-form > ul > li dl dd .form-group.type-2 {
        padding: 15px;
        border: 1px solid #d7d7d7; }
        .modal.modal-qna .modal-content .write-form > ul > li dl dd .form-group.type-2 .form-control {
          height: 180px;
          border: 0;
          padding: 0;
          resize: none; }
        .modal.modal-qna .modal-content .write-form > ul > li dl dd .form-group.type-2 span {
          display: block;
          font-size: 17px;
          color: #010101;
          text-align: right;
          padding-top: 30px; }
      .modal.modal-qna .modal-content .write-form > ul > li ~ li {
        margin-top: 30px; }
    .modal.modal-qna .modal-content .write-form .check-box {
      margin: 20px 0 30px;
      padding: 0 30px; }
      .modal.modal-qna .modal-content .write-form .check-box .label {
        font-size: 16px;
        color: #000; }
    .modal.modal-qna .modal-content .write-form .attention {
      padding: 0 30px; }
      .modal.modal-qna .modal-content .write-form .attention > p {
        position: relative;
        font-size: 16px;
        color: #000;
        font-weight: 400;
        line-height: 26px;
        padding-left: 20px; }
        .modal.modal-qna .modal-content .write-form .attention > p:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '※'; }
  .modal.modal-qna .modal-content .btn-area {
    text-align: center;
    font-size: 0;
    margin-top: 45px; }
    .modal.modal-qna .modal-content .btn-area .btn {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      font-size: 20px;
      color: #fff;
      font-weight: 400;
      line-height: 60px; }
      .modal.modal-qna .modal-content .btn-area .btn.btn-cancel {
        background-color: #000; }
      .modal.modal-qna .modal-content .btn-area .btn.btn-submit {
        background-color: #0e3db4; }
.modal.modal-photo-list .modal-content {
  width: 720px;
  height: 750px;
  padding: 50px 40px;
  overflow-y: auto;
  background-color: #fff; }
  .modal.modal-photo-list .modal-content > ul {
    overflow: hidden;
    width: calc(100% + 20px);
    margin: 0 -10px; }
    .modal.modal-photo-list .modal-content > ul > li {
      float: left;
      width: 33.3333333333%;
      padding: 0 10px; }
      .modal.modal-photo-list .modal-content > ul > li > a {
        display: block; }
        .modal.modal-photo-list .modal-content > ul > li > a > figure img {
          display: block;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover; }
      .modal.modal-photo-list .modal-content > ul > li:nth-of-type(3n + 1) {
        clear: left; }
      .modal.modal-photo-list .modal-content > ul > li:nth-of-type(3) ~ li {
        margin-top: 20px; }
.modal.review-list-popup .modal-content .review-area {
  width: 880px; }
  .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content {
    width: 720px;
    max-height: 760px;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #fff; }
    .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content > a {
      display: table;
      width: 100%;
      table-layout: fixed;
      padding: 15px;
      padding-right: 80px;
      background-color: #ebebeb;
      background-image: url(/content/pest/images/product/ico_arrow_move.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: calc(100% - 30px) 50%; }
      .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content > a > div {
        display: table-cell;
        vertical-align: middle; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content > a > div.item-img {
          width: 55px; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content > a > div.item-img > figure img {
            display: block;
            width: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content > a > div.details {
          padding-left: 15px; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content > a > div.details > dl dt, .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content > a > div.details > dl dd {
            font-size: 18px;
            color: #000;
            font-weight: 400;
            line-height: 23px; }
    .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap {
      padding: 0 30px; }
      .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head {
        position: relative;
        padding: 20px 0;
        border-bottom: 2px solid #000; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .grade {
          font-size: 0; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .grade > ol {
            display: inline-block;
            vertical-align: top;
            padding: 1.5px 0; }
            .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .grade > ol > li {
              display: inline-block;
              vertical-align: top;
              margin-right: 2px; }
              .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .grade > ol > li:last-child {
                margin-right: 0; }
              .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .grade > ol > li img {
                display: block; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .grade > b {
            display: inline-block;
            vertical-align: top;
            font-size: 20px;
            color: #0e3db4;
            margin-left: 10px; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .usr-info {
          margin-top: 15px; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .usr-info > ul {
            font-size: 0; }
            .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .usr-info > ul > li {
              display: inline-block;
              vertical-align: top;
              font-size: 15px;
              color: #919191;
              font-weight: 400; }
              .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .usr-info > ul > li:after {
                position: relative;
                top: 3px;
                display: inline-block;
                vertical-align: top;
                content: '';
                width: 1px;
                height: 12px;
                margin: 0 10px;
                background-color: #919191; }
              .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .usr-info > ul > li:last-child:after {
                display: none; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop {
          position: absolute;
          top: 20px;
          right: 0; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop .drop-area {
            position: relative; }
            .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop .drop-area .btn-drop-more {
              display: block;
              width: 24px; }
            .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop .drop-area > ul {
              display: none;
              position: absolute;
              top: 0;
              right: 100%;
              padding: 5px 10px;
              border: 1px solid #919191;
              background-color: #fff; }
              .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop .drop-area > ul > li > a {
                display: block;
                font-size: 14px;
                color: #000;
                font-weight: 400;
                line-height: 23px;
                padding-right: 35px;
                background-repeat: no-repeat;
                background-position: 100% 50%; }
                .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop .drop-area > ul > li > a.btn-modify {
                  background-image: url(/content/pest/images/sub/ico_modify.png); }
                .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop .drop-area > ul > li > a.btn-delete {
                  background-image: url(/content/pest/images/sub/ico_delete.png); }
            .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-head .modify-drop .drop-area.show > ul {
              display: block; }
      .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body {
        padding-top: 20px; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body > p {
          font-size: 14px;
          color: #000;
          font-weight: 400;
          line-height: 25px; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body > figure {
          margin-top: 40px; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body > figure img {
            display: block;
            width: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover; }
        .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body .like-area {
          font-size: 0;
          padding: 20px 0; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body .like-area span {
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            color: #000;
            line-height: 34px;
            font-weight: 400;
            margin-right: 10px; }
          .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body .like-area .btn-like {
            display: inline-block;
            vertical-align: top;
            width: 64px;
            height: 34px;
            line-height: 36px;
            font-size: 20px;
            color: #000;
            text-align: center;
            font-weight: bold;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            border: 1px solid #000; }
            .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body .like-area .btn-like .ico-like {
              display: inline-block;
              vertical-align: top;
              width: 21px;
              height: 34px;
              margin-right: 5px;
              background-image: url(/content/pest/images/product/ico_like.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: auto;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body .like-area .btn-like.on {
              color: #fff;
              background-color: #0e3db4;
              border-color: #0e3db4; }
              .modal.review-list-popup .modal-content .review-area .review-swiper .swiper-wrapper .swiper-slide .review-content .review-wrap .review-body .like-area .btn-like.on .ico-like {
                background-image: url(/content/pest/images/product/ico_like_on.png); }
  .modal.review-list-popup .modal-content .review-area .controls button {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    transform: translateY(-50%); }
    .modal.review-list-popup .modal-content .review-area .controls button.swiper-button-prev2 {
      left: 0; }
    .modal.review-list-popup .modal-content .review-area .controls button.swiper-button-next2 {
      right: 0; }

/* rotate-pop */
.rotate-pop {
  display: none; }
  .rotate-pop .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 105;
    background-color: rgba(0, 0, 0, 0.3); }
  .rotate-pop > .btn-rotataepop-close {
    position: fixed;
    top: 80px;
    right: 80px;
    display: block;
    z-index: 106; }
  .rotate-pop .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 720px;
    height: 780px;
    overflow: hidden;
    z-index: 106;
    transform: translate(-50%, -50%);
    background-color: #fff; }
    .rotate-pop .modal-content .rotate-board {
      position: relative;
      width: 100%;
      height: 720px;
      overflow: hidden; }
      .rotate-pop .modal-content .rotate-board > figure img {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
      .rotate-pop .modal-content .rotate-board .btn-rotate {
        position: absolute;
        bottom: 30px;
        right: 35px;
        font-size: 15px;
        color: #000;
        text-align: center; }
        .rotate-pop .modal-content .rotate-board .btn-rotate img {
          display: block;
          margin-bottom: 10px; }
    .rotate-pop .modal-content .btn-area {
      text-align: center;
      font-size: 0; }
      .rotate-pop .modal-content .btn-area .btn {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        line-height: 60px; }
        .rotate-pop .modal-content .btn-area .btn.btn-cancel {
          background-color: #000; }
        .rotate-pop .modal-content .btn-area .btn.btn-submit {
          background-color: #0e3db4; }
  .rotate-pop.show {
    display: block; }

/*# sourceMappingURL=product.css.map */
