@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  min-width: 360px; }

body {
  position: relative;
  font-size: 13px;
  color: #000;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

.container {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none !important; }

a, button {
  color: #000;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

pre {
  white-space: pre-wrap; }

/* event */
.event .section-header {
  padding: 20px 0 15px; }
  .event .section-header .container {
    position: relative; }
    .event .section-header .container h3 {
      font-size: 15px;
      color: #000;
      font-weight: bold; }
    .event .section-header .container .btn-more {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 12px;
      font-weight: 400;
      color: #919191;
      padding-bottom: 5px;
      border-bottom: 1px solid #919191; }
.event .section-content .event-slider {
  position: relative; }
  .event .section-content .event-slider .swiper-wrapper .swiper-slide > a {
    display: block; }
    .event .section-content .event-slider .swiper-wrapper .swiper-slide > a > figure img {
      display: block;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
  .event .section-content .event-slider .event-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center; }
    .event .section-content .event-slider .event-pagination span {
      width: 10px;
      height: 10px;
      margin: 0 4px;
      opacity: 1;
      background-color: #fff; }
      .event .section-content .event-slider .event-pagination span.swiper-pagination-bullet-active {
        background-color: #0e3db4; }
.event .section-content .event-quick-link {
  padding: 30px 0; }
  .event .section-content .event-quick-link .container h4 {
    font-size: 15px;
    color: #000;
    font-weight: bold; }
    .event .section-content .event-quick-link .container h4 ~ h4 {
      margin-top: 35px; }
  .event .section-content .event-quick-link .container > ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 15px; }
    .event .section-content .event-quick-link .container > ul > li {
      display: table-cell;
      vertical-align: middle; }
      .event .section-content .event-quick-link .container > ul > li > a {
        position: relative;
        display: block;
        height: 160px;
        padding: 20px;
        border-radius: 5px;
        background-image: url(/content/pest-mobile/images/community/bg_quick_link.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
        .event .section-content .event-quick-link .container > ul > li > a b {
          display: block;
          font-size: 15px;
          color: #fff;
          font-weight: bold;
          line-height: 22px; }
        .event .section-content .event-quick-link .container > ul > li > a img {
          position: absolute;
          bottom: 15px;
          right: 15px;
          display: block;
          width: 90px; }
      .event .section-content .event-quick-link .container > ul > li:nth-of-type(1) {
        padding-right: 5px; }
      .event .section-content .event-quick-link .container > ul > li:nth-of-type(2) {
        padding-left: 5px; }
.event .section-content .community-page-list > ul {
  border-top: 1px solid #d7d7d7; }
  .event .section-content .community-page-list > ul > li {
    border-bottom: 1px solid #d7d7d7; }
    .event .section-content .community-page-list > ul > li > a {
      position: relative;
      display: block;
      font-size: 15px;
      color: #000;
      font-weight: 500;
      line-height: 54px;
      padding: 0 20px;
      background-image: url(/content/pest-mobile/images/community/ico_arrow_move.png);
      background-size: 8px auto;
      background-position: calc(100% - 20px) 50%;
      background-repeat: no-repeat; }

/* event-list-wrap */
.event-list-wrap > dl dt {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  padding: 35px 20px 15px; }
.event-list-wrap > dl dd ul > li > a {
  display: block; }
  .event-list-wrap > dl dd ul > li > a figure img {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
.event-list-wrap > dl dd ul > li ~ li {
  margin-top: 10px; }

/* event-view */
.event-view .board > figure img {
  display: block;
  width: 100%; }
.event-view .goods-list {
  margin-top: 20px; }

/* default-board-list */
.default-board-list .section-header {
  padding: 20px 0 30px; }
.default-board-list .section-content .accordion-list > li .answer .answer-area {
  text-align: center;
  padding: 35px 20px; }
  .default-board-list .section-content .accordion-list > li .answer .answer-area img {
    display: block;
    width: 100%; }
  .default-board-list .section-content .accordion-list > li .answer .answer-area p {
    font-size: 13px;
    color: #000;
    font-weight: 400;
    line-height: 18px; }
  .default-board-list .section-content .accordion-list > li .answer .answer-area.left {
    text-align: left; }

/* experience-wrap 
.experience-wrap {
    .article-header {
        padding: 35px 0 15px;
        h3 {
            font-size: 15px;
            color: #000;
            font-weight: bold;
        }
    }
    .experience-list {
        .article-content {
            > ul {
                > li {
                    > a {
                        display: block;
                        > figure {
                            img {
                                display: block;
                                width: 100%;
                            }
                            figcaption {
                                padding: 15px 20px 0;
                                font-size: 13px;
                                color: #000;
                                font-weight: 400;
                            }
                        }
                    }
                    & ~ li {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .review-area {
        .article-header {
            padding-top: 50px;
        }
        .article-content {
            .photo-review {
                > li {
                    > a {
                        .details {
                            b {
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-size: 14px;
                                color: #000;
                                font-weight: bold;
                                margin-top: 15px;
                            }
                            .usr-grade {
                                > i {
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }
            }
            .btn-area {
                text-align: center;
                margin-top: 40px;
                .btn-more {
                    display: block;
                    width: 100%;
                    font-size: 13px;
                    color: #000;
                    line-height: 38px;
                    font-weight: 500;
                    border: 1px solid #d9d9d9;
                    .icon-down {
                        display: inline-block;
                        vertical-align: top;
                        width: 10px;
                        height: 38px;
                        margin-left: 15px;
                        background-image: url(/content/pest-mobile/images/community/ico_down.png);
                        background-repeat: no-repeat;
                        background-size: 10px auto;
                        background-position: 50% 50%;
                    }
                }
            }
        }
    }
}

/* experience-view 
.experience-view {
    .board-frame {
        > figure {
            img {
                display: block;
                width: 100%;
            }
            > figcaption {
                padding: 30px 20px;
                > ul {
                    > li {
                        > dl {
                            display: table;
                            width: 100%;
                            table-layout: fixed;
                            dt, dd {
                                display: table-cell;
                                font-size: 13px;
                                color: #000;
                                font-weight: 400;
                                line-height: 26px;
                                vertical-align: middle;
                            }
                            dt {
                                width: 120px;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            font-size: 0;
            margin-top: 40px;
            .btn {
                display: inline-block;
                vertical-align: top;
                font-size: 15px;
                font-weight: 500;
                line-height: 40px;
                &.btn-lg {
                    display: block;
                    width: 100%;
                }
                &.btn-md {
                    width: 50%;
                }
                &.btn-gray {
                    color: #000;
                    background-color: #f5f5f5;
                }
                &.btn-blue {
                    color: #fff;
                    background-color: $kcolor;
                }
            }
        }
        .comment-list {
            margin-top: 40px;
            padding: 0 20px;
            > ul {
                border-top: 1px solid #d7d7d7;
                > li {
                    border-bottom: 1px solid #d7d7d7;
                    .box {
                        padding: 20px 0;
                        .info {
                            position: relative;
                            > ul {
                                font-size: 0;
                                > li {
                                    display: inline-block;
                                    vertical-align: top;
                                    font-size: 12px;
                                    font-weight: 400;
                                    color: rgba(#000, .4);
                                    &:after {
                                        display: inline-block;
                                        vertical-align: top;
                                        width: 1px;
                                        height: 12px;
                                        content: '';
                                        margin: 0 10px;
                                        background-color: rgba(#000, .4);
                                    }
                                    &:last-child {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            .modify-drop {
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                        }
                        .content {
                            margin-top: 10px;
                            p {
                                font-size: 14px;
                                color: #000;
                                font-weight: 400;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* experience-request 
.experience-request {
    .section-header {
        text-align: center;
        padding: 50px 0;
        b {
            display: block;
            font-size: 15px;
            line-height: 26px;
            font-weight: bold;
        }
        p {
            font-size: 13px;
            color: #000;
            font-weight: 400;
            line-height: 18px;
            margin-top: 15px;
        }
    }
    .section-content {
        .container {
            > ul {
                > li {
                    > dl {
                        > dt {
                            font-size: 12px;
                            color: #000;
                            font-weight: 500;
                            &.necessary {
                                &:after {
                                    color: #ff4800;
                                    content: ' *';
                                }
                            }
                        }
                        > dd {
                            margin-top: 10px;
                            .form-group {
                                &.sns {
                                    position: relative;
                                    padding-right: 48px;
                                    .sns-icon {
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        width: 38px;
                                        transform: translateY(-50%);
                                        img {
                                            display: block;
                                            width: 100%;
                                        }
                                    }
                                }
                                & ~ .form-group {
                                    margin-top: 10px;
                                }
                            }
                            .contact, .birth-date {
                                > ul {
                                    width: calc(100% + 10px);
                                    margin: 0 -5px;
                                    overflow: hidden;
                                    > li {
                                        float: left;
                                        width: 33.3333333333%;
                                        padding: 0 5px;
                                    }
                                }
                                &.birth-date {
                                    > ul {
                                        > li {
                                            .form-group {
                                                .form-control {
                                                    display: inline-block;
                                                    width: calc(100% - 25px);
                                                }
                                                span {
                                                    display: inline-block;
                                                    vertical-align: top;
                                                    width: 20px;
                                                    font-size: 12px;
                                                    color: #000;
                                                    line-height: 38px;
                                                    font-weight: 400;
                                                }
                                            }
                                        }
                                    }
                                    .radio-box {
                                        margin-top: 15px;
                                    }
                                }
                            }
                            .attention {
                                display: block;
                                font-size: 12px;
                                font-weight: 400;
                                color: rgba(#000, .4);
                                margin-top: 10px;
                                &:before {
                                    content: '* ';
                                }
                                &.red {
                                    color: #ff4800;
                                }
                            }
                        }
                    }
                    & ~ li {
                        margin-top: 20px;
                    }
                }
            }
            .check-box {
                margin-top: 10px;
                .label {
                    color: #000;
                }
            }
        }
        .btn-area {
            text-align: center;
            font-size: 0;
            margin-top: 50px;
            .btn {
                display: inline-block;
                vertical-align: top;
                font-size: 15px;
                font-weight: 500;
                line-height: 40px;
                &.btn-lg {
                    display: block;
                    width: 100%;
                }
                &.btn-sm {
                    width: 50%;
                }
                &.btn-gray {
                    color: #000;
                    background-color: #f5f5f5;
                }
                &.btn-blue {
                    color: #fff;
                    background-color: $kcolor;
                }
            }
        }
    }
} */
/* review-write 
.review-write {
    .container {
        .section-header {
            text-align: center;
            padding: 40px 0 35px;
            strong {
                display: block;
                font-size: 15px;
                color: #000;
                font-weight: 500;
            }
            .grade {
                margin-top: 15px;
                > ol {
                    font-size: 0;
                    > li {
                        display: inline-block;
                        width: 41px;
                        vertical-align: top;
                        margin: 0 5px;
                        > a {
                            display: block;
                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
                > b {
                    display: block;
                    font-size: 20px;
                    color: $kcolor;
                    font-weight: bold;
                    @include msr();
                    margin-top: 15px;
                }
            }
        }
        .section-content {
            .form-group {
                & ~ .form-group {
                    margin-top: 10px;
                }
            }
            .file-attach {
                margin-top: 25px;
                input[type="file"] {
                    display: none;
                }
                .btn-file {
                    display: block;
                    width: 100%;
                    font-size: 15px;
                    color: #fff;
                    text-align: center;
                    font-weight: 500;
                    line-height: 40px;
                    background-color: $kcolor;
                }
                .attention {
                    position: relative;
                    font-size: 12px;
                    color: #ababab;
                    font-weight: 500;
                    padding-left: 20px;
                    margin-top: 10px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '※';
                    }
                }
            }
            .file-list {
                padding: 20px 0 30px;
                > ul {
                    font-size: 0;
                    > li {
                        display: inline-block;
                        width: 100px;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                        .file-wrap {
                            position: relative;
                            .btn-del {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                width: 15px;
                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            > figure {
                                img {
                                    display: block;
                                    width: 100%;
                                    background-repeat: no-repeat;
                                    background-position: 50% 50%;
                                    background-size: cover;
                                }
                            }
                            .btn-file-modify {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                display: block;
                                font-size: 12px;
                                color: #fff;
                                line-height: 18px;
                                width: 100%;
                                text-align: center;
                                background-color: rgba(#000, .2);
                            }
                        }
                    }
                }
            }
            .btn-area {
                font-size: 0;
                text-align: center;
                width: calc(100% + 40px);
                margin: 0 -20px;
                .btn {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 40px;
                    &.btn-lg {
                        display: block;
                        width: 100%;
                    }
                    &.btn-md {
                        width: 50%;
                    }
                    &.btn-gray {
                        color: #000;
                        background-color: #f5f5f5;
                    }
                    &.btn-blue {
                        color: #fff;
                        background-color: $kcolor;
                    }
                }
            }
        }
    }
}
*/
/* photo-review-list */
.photo-review-list {
  padding-top: 30px; }

/*# sourceMappingURL=community.css.map */
