@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  min-width: 360px; }

body {
  position: relative;
  font-size: 13px;
  color: #000;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

.container {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none !important; }

a, button {
  color: #000;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

pre {
  white-space: pre-wrap; }

/* event */
.event .section-header {
  padding: 20px 0 15px; }
  .event .section-header .container {
    position: relative; }
    .event .section-header .container h3 {
      font-size: 15px;
      color: #000;
      font-weight: bold; }
    .event .section-header .container .btn-more {
      position: absolute;
      top: 0;
      right: 20px;
      font-size: 12px;
      font-weight: 400;
      color: #919191;
      padding-bottom: 5px;
      border-bottom: 1px solid #919191; }
.event .section-content .event-slider {
  position: relative; }
  .event .section-content .event-slider .swiper-wrapper .swiper-slide > a {
    display: block; }
    .event .section-content .event-slider .swiper-wrapper .swiper-slide > a > figure img {
      display: block;
      width: 100%; }
  .event .section-content .event-slider .event-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center; }
    .event .section-content .event-slider .event-pagination span {
      width: 10px;
      height: 10px;
      margin: 0 4px;
      opacity: 1;
      background-color: #fff; }
      .event .section-content .event-slider .event-pagination span.swiper-pagination-bullet-active {
        background-color: #0e3db4; }
.event .section-content .event-quick-link {
  padding: 30px 0; }
  .event .section-content .event-quick-link .container h4 {
    font-size: 15px;
    color: #000;
    font-weight: bold; }
    .event .section-content .event-quick-link .container h4 ~ h4 {
      margin-top: 35px; }
  .event .section-content .event-quick-link .container > ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 15px; }
    .event .section-content .event-quick-link .container > ul > li {
      display: table-cell;
      vertical-align: middle; }
      .event .section-content .event-quick-link .container > ul > li > a {
        position: relative;
        display: block;
        height: 160px;
        padding: 20px;
        border-radius: 5px;
        background-image: url(/content/pest-mobile/images/community/bg_quick_link.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
        .event .section-content .event-quick-link .container > ul > li > a b {
          display: block;
          font-size: 15px;
          color: #fff;
          font-weight: bold;
          line-height: 22px; }
        .event .section-content .event-quick-link .container > ul > li > a img {
          position: absolute;
          bottom: 15px;
          right: 15px;
          display: block;
          width: 90px; }
      .event .section-content .event-quick-link .container > ul > li:nth-of-type(1) {
        padding-right: 5px; }
      .event .section-content .event-quick-link .container > ul > li:nth-of-type(2) {
        padding-left: 5px; }
.event .section-content .community-page-list > ul {
  border-top: 1px solid #d7d7d7; }
  .event .section-content .community-page-list > ul > li {
    border-bottom: 1px solid #d7d7d7; }
    .event .section-content .community-page-list > ul > li > a {
      position: relative;
      display: block;
      font-size: 15px;
      color: #000;
      font-weight: 500;
      line-height: 54px;
      padding: 0 20px;
      background-image: url(/content/pest-mobile/images/community/ico_arrow_move.png);
      background-size: 8px auto;
      background-position: calc(100% - 20px) 50%;
      background-repeat: no-repeat; }

/* event-list-wrap */
.event-list-wrap > dl dt {
  font-size: 15px;
  color: #000;
  font-weight: bold;
  padding: 35px 20px 15px; }
.event-list-wrap > dl dd ul > li > a {
  display: block; }
  .event-list-wrap > dl dd ul > li > a figure img {
    display: block;
    width: 100%; }
.event-list-wrap > dl dd ul > li ~ li {
  margin-top: 10px; }

/* event-view */
.event-view .board > figure img {
  display: block;
  width: 100%; }
.event-view .goods-list {
  margin-top: 20px; }

/* question */
.question .summary {
  text-align: center;
  padding: 35px 0 30px; }
  .question .summary p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    font-weight: 400; }
.question .summary-banner {
  text-align: center;
  padding: 55px 0;
  background-image: url(/content/pest-mobile/images/community/bg_question.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .question .summary-banner p {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 20px; }
.question .sub-search {
  padding: 35px 20px 20px; }
  .question .sub-search .form-group {
    position: relative; }
    .question .sub-search .form-group .form-control {
      border: 0;
      border-bottom: 1px solid #000;
      padding: 0 40px 0 20px; }
    .question .sub-search .form-group .btn-search2 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 38px;
      height: 38px;
      display: block; }
      .question .sub-search .form-group .btn-search2 img {
        width: 20px;
        margin: 0 auto; }
.question .btn-area {
  text-align: center;
  padding: 0 20px 35px; }
  .question .btn-area .btn.btn-lg {
    display: block;
    width: 100%; }
  .question .btn-area .btn.btn-white {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    line-height: 38px;
    border: 1px solid #e4e4e4; }
.question .default-board .accordion-list > li .answer .answer-area .usr-content .content figure {
  width: 160px; }
  .question .default-board .accordion-list > li .answer .answer-area .usr-content .content figure img {
    display: block;
    width: 100%; }

/* default-board-list */
.default-board-list .section-header {
  padding: 20px 0 30px; }
.default-board-list .section-content .accordion-list > li .answer .answer-area {
  text-align: center;
  padding: 35px 20px; }
  .default-board-list .section-content .accordion-list > li .answer .answer-area p {
    font-size: 13px;
    color: #000;
    font-weight: 400;
    line-height: 18px; }
  .default-board-list .section-content .accordion-list > li .answer .answer-area figure img {
    display: block;
    width: 100%; }
  .default-board-list .section-content .accordion-list > li .answer .answer-area.left {
    text-align: left; }

/* experience-wrap */
.experience-wrap .article-header {
  padding: 35px 0 15px; }
  .experience-wrap .article-header h3 {
    font-size: 15px;
    color: #000;
    font-weight: bold; }
.experience-wrap .experience-list .article-content > ul > li > a {
  display: block; }
  .experience-wrap .experience-list .article-content > ul > li > a > figure img {
    display: block;
    width: 100%; }
  .experience-wrap .experience-list .article-content > ul > li > a > figure figcaption {
    padding: 15px 20px 0;
    font-size: 13px;
    color: #000;
    font-weight: 400; }
.experience-wrap .experience-list .article-content > ul > li ~ li {
  margin-top: 15px; }
.experience-wrap .review-area .article-header {
  padding-top: 50px; }
.experience-wrap .review-area .article-content .photo-review > li > a .details b {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-top: 15px; }
.experience-wrap .review-area .article-content .photo-review > li > a .details .usr-grade > i {
  font-style: italic; }
.experience-wrap .review-area .article-content .btn-area {
  text-align: center;
  margin-top: 40px; }
  .experience-wrap .review-area .article-content .btn-area .btn-more {
    display: block;
    width: 100%;
    font-size: 13px;
    color: #000;
    line-height: 38px;
    font-weight: 500;
    border: 1px solid #d9d9d9; }
    .experience-wrap .review-area .article-content .btn-area .btn-more .icon-down {
      display: inline-block;
      vertical-align: top;
      width: 10px;
      height: 38px;
      margin-left: 15px;
      background-image: url(/content/pest-mobile/images/community/ico_down.png);
      background-repeat: no-repeat;
      background-size: 10px auto;
      background-position: 50% 50%; }

/* experience-view */
.experience-view .board-frame > figure img {
  display: block;
  width: 100%; }
.experience-view .board-frame > figure > figcaption {
  padding: 30px 20px; }
  .experience-view .board-frame > figure > figcaption > ul > li > dl {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .experience-view .board-frame > figure > figcaption > ul > li > dl dt, .experience-view .board-frame > figure > figcaption > ul > li > dl dd {
      display: table-cell;
      font-size: 13px;
      color: #000;
      font-weight: 400;
      line-height: 26px;
      vertical-align: middle; }
    .experience-view .board-frame > figure > figcaption > ul > li > dl dt {
      width: 120px; }
.experience-view .board-frame .btn-area {
  text-align: center;
  font-size: 0;
  margin-top: 40px; }
  .experience-view .board-frame .btn-area .btn {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px; }
    .experience-view .board-frame .btn-area .btn.btn-lg {
      display: block;
      width: 100%; }
    .experience-view .board-frame .btn-area .btn.btn-md {
      width: 50%; }
    .experience-view .board-frame .btn-area .btn.btn-gray {
      color: #000;
      background-color: #f5f5f5; }
    .experience-view .board-frame .btn-area .btn.btn-blue {
      color: #fff;
      background-color: #0e3db4; }
.experience-view .board-frame .comment-list {
  margin-top: 40px;
  padding: 0 20px; }
  .experience-view .board-frame .comment-list > ul {
    border-top: 1px solid #d7d7d7; }
    .experience-view .board-frame .comment-list > ul > li {
      border-bottom: 1px solid #d7d7d7; }
      .experience-view .board-frame .comment-list > ul > li .box {
        padding: 20px 0; }
        .experience-view .board-frame .comment-list > ul > li .box .info {
          position: relative; }
          .experience-view .board-frame .comment-list > ul > li .box .info > ul {
            font-size: 0; }
            .experience-view .board-frame .comment-list > ul > li .box .info > ul > li {
              display: inline-block;
              vertical-align: top;
              font-size: 12px;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.4); }
              .experience-view .board-frame .comment-list > ul > li .box .info > ul > li:after {
                display: inline-block;
                vertical-align: top;
                width: 1px;
                height: 12px;
                content: '';
                margin: 0 10px;
                background-color: rgba(0, 0, 0, 0.4); }
              .experience-view .board-frame .comment-list > ul > li .box .info > ul > li:last-child:after {
                display: none; }
          .experience-view .board-frame .comment-list > ul > li .box .info .modify-drop {
            position: absolute;
            top: 0;
            right: 0; }
        .experience-view .board-frame .comment-list > ul > li .box .content {
          margin-top: 10px; }
          .experience-view .board-frame .comment-list > ul > li .box .content p {
            font-size: 14px;
            color: #000;
            font-weight: 400;
            line-height: 18px; }

/* experience-request */
.experience-request .section-header {
  text-align: center;
  padding: 50px 0; }
  .experience-request .section-header b {
    display: block;
    font-size: 15px;
    line-height: 26px;
    font-weight: bold; }
  .experience-request .section-header p {
    font-size: 13px;
    color: #000;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px; }
.experience-request .section-content .container > ul > li > dl > dt {
  font-size: 12px;
  color: #000;
  font-weight: 500; }
  .experience-request .section-content .container > ul > li > dl > dt.necessary:after {
    color: #ff4800;
    content: ' *'; }
.experience-request .section-content .container > ul > li > dl > dd {
  margin-top: 10px; }
  .experience-request .section-content .container > ul > li > dl > dd .form-group.sns {
    position: relative;
    padding-right: 48px; }
    .experience-request .section-content .container > ul > li > dl > dd .form-group.sns .sns-icon {
      position: absolute;
      top: 50%;
      right: 0;
      width: 38px;
      transform: translateY(-50%); }
      .experience-request .section-content .container > ul > li > dl > dd .form-group.sns .sns-icon img {
        display: block;
        width: 100%; }
  .experience-request .section-content .container > ul > li > dl > dd .form-group ~ .form-group {
    margin-top: 10px; }
  .experience-request .section-content .container > ul > li > dl > dd .contact > ul, .experience-request .section-content .container > ul > li > dl > dd .birth-date > ul {
    width: calc(100% + 10px);
    margin: 0 -5px;
    overflow: hidden; }
    .experience-request .section-content .container > ul > li > dl > dd .contact > ul > li, .experience-request .section-content .container > ul > li > dl > dd .birth-date > ul > li {
      float: left;
      width: 33.3333333333%;
      padding: 0 5px; }
  .experience-request .section-content .container > ul > li > dl > dd .contact.birth-date > ul > li .form-group .form-control, .experience-request .section-content .container > ul > li > dl > dd .birth-date.birth-date > ul > li .form-group .form-control {
    display: inline-block;
    width: calc(100% - 25px); }
  .experience-request .section-content .container > ul > li > dl > dd .contact.birth-date > ul > li .form-group span, .experience-request .section-content .container > ul > li > dl > dd .birth-date.birth-date > ul > li .form-group span {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    /*text-align: right;*/
    font-size: 12px;
    color: #000;
    line-height: 38px;
    font-weight: 400; }
  .experience-request .section-content .container > ul > li > dl > dd .contact.birth-date .radio-box, .experience-request .section-content .container > ul > li > dl > dd .birth-date.birth-date .radio-box {
    margin-top: 15px; }
  .experience-request .section-content .container > ul > li > dl > dd .attention {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px; }
    .experience-request .section-content .container > ul > li > dl > dd .attention:before {
      content: '* '; }
    .experience-request .section-content .container > ul > li > dl > dd .attention.red {
      color: #ff4800; }
.experience-request .section-content .container > ul > li ~ li {
  margin-top: 20px; }
.experience-request .section-content .container .check-box {
  margin-top: 10px; }
  .experience-request .section-content .container .check-box .label {
    color: #000; }
.experience-request .section-content .btn-area {
  text-align: center;
  font-size: 0;
  margin-top: 50px; }
  .experience-request .section-content .btn-area .btn {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px; }
    .experience-request .section-content .btn-area .btn.btn-lg {
      display: block;
      width: 100%; }
    .experience-request .section-content .btn-area .btn.btn-sm {
      width: 50%; }
    .experience-request .section-content .btn-area .btn.btn-gray {
      color: #000;
      background-color: #f5f5f5; }
    .experience-request .section-content .btn-area .btn.btn-blue {
      color: #fff;
      background-color: #0e3db4; }

/* review-write */
.review-write .container .section-header {
  text-align: center;
  padding: 40px 0 35px; }
  .review-write .container .section-header strong {
    display: block;
    font-size: 15px;
    color: #000;
    font-weight: 500; }
  .review-write .container .section-header .grade {
    margin-top: 15px; }
    .review-write .container .section-header .grade > ol {
      font-size: 0; }
      .review-write .container .section-header .grade > ol > li {
        display: inline-block;
        width: 41px;
        vertical-align: top;
        margin: 0 5px; }
        .review-write .container .section-header .grade > ol > li > a {
          display: block; }
          .review-write .container .section-header .grade > ol > li > a img {
            display: block;
            width: 100%; }
    .review-write .container .section-header .grade > b {
      display: block;
      font-size: 20px;
      color: #0e3db4;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      margin-top: 15px; }
.review-write .container .section-content .form-group ~ .form-group {
  margin-top: 10px; }
.review-write .container .section-content .file-attach {
  margin-top: 25px; }
  .review-write .container .section-content .file-attach input[type="file"] {
    display: none; }
  .review-write .container .section-content .file-attach .btn-file {
    display: block;
    width: 100%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    background-color: #0e3db4; }
  .review-write .container .section-content .file-attach .attention {
    position: relative;
    font-size: 12px;
    color: #ababab;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 10px; }
    .review-write .container .section-content .file-attach .attention:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '※'; }
.review-write .container .section-content .file-list {
  padding: 20px 0 30px; }
  .review-write .container .section-content .file-list > ul {
    font-size: 0; }
    .review-write .container .section-content .file-list > ul > li {
      display: inline-block;
      width: 100px;
      margin-right: 10px; }
      .review-write .container .section-content .file-list > ul > li:last-child {
        margin-right: 0; }
      .review-write .container .section-content .file-list > ul > li .file-wrap {
        position: relative; }
        .review-write .container .section-content .file-list > ul > li .file-wrap .btn-del {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 15px; }
          .review-write .container .section-content .file-list > ul > li .file-wrap .btn-del img {
            display: block;
            width: 100%; }
        .review-write .container .section-content .file-list > ul > li .file-wrap > figure img {
          display: block;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover; }
        .review-write .container .section-content .file-list > ul > li .file-wrap .btn-file-modify {
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          font-size: 12px;
          color: #fff;
          line-height: 18px;
          width: 100%;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.2); }
.review-write .container .section-content .btn-area {
  font-size: 0;
  text-align: center;
  width: calc(100% + 40px);
  margin: 0 -20px; }
  .review-write .container .section-content .btn-area .btn {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px; }
    .review-write .container .section-content .btn-area .btn.btn-lg {
      display: block;
      width: 100%; }
    .review-write .container .section-content .btn-area .btn.btn-md {
      width: 50%; }
    .review-write .container .section-content .btn-area .btn.btn-gray {
      color: #000;
      background-color: #f5f5f5; }
    .review-write .container .section-content .btn-area .btn.btn-blue {
      color: #fff;
      background-color: #0e3db4; }

/* photo-review-list */
.photo-review-list {
  padding-top: 30px; }

/*# sourceMappingURL=community.css.map */
