@import 'common';

/* common */
.mypage-header {
    padding: 30px 0;
    background-color: #f8f8f8;
    .container {
        .usr-info {
            display: table;
            width: 100%;
            table-layout: fixed;
            > div {
                display: table-cell;
                vertical-align: middle;
                &.usr-rank {
                    width: 50px;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                &.info {
                    padding-left: 20px;
                    strong {
                        display: inline-block;
                        font-size: 20px;
                        color: #000;
                        font-weight: bold;
                        vertical-align: top;
                    }
                    .btn-usr-modify {
                        display: inline-block;
                        width: 60px;
                        font-size: 12px;
                        color: #fff;
                        line-height: 20px;
                        text-align: center;
                        vertical-align: top;
                        margin-left: 10px;
                        background-color: $kcolor;
                    }
                    p {
                        display: block;
                        font-size: 12px;
                        color: #000;
                        font-weight: 400;
                        margin-top: 10px;
                    }
                }
            }
        }
        .details {
            margin-top: 20px;
            > ul {
                display: table;
                width: 100%;
                table-layout: fixed;
                margin-bottom: 20px;
                > li {
                    display: table-cell;
                    vertical-align: top;
                    &:nth-of-type(1) {
                        padding-right: 5px;
                    }
                    &:nth-of-type(2) {
                        padding-left: 5px;
                    }
                    > .box {
                        position: relative;
                        height: 78px;
                        display: block;
                        padding: 15px;
                        border-radius: 10px;
                        border: 1px solid #e4e4e4;
                        background-image: url(/content/pest-mobile/images/mypage/bg_mypage_header.png);
                        background-repeat: no-repeat;
                        background-size: 90px auto;
                        background-position: -5px calc(100% + 23px);
                        > a {
                            display: inline-block;
                            font-size: 13px;
                            color: #000;
                            font-weight: bold;
                        }
                        > p {
                            position: absolute;
                            bottom: 15px;
                            right: 15px;
                            font-size: 12px;
                            color: $kcolor;
                            font-weight: bold;
                            b {
                                font-size: 33px;
                                @include msr();
                            }
                        }
                    }
                }
            }
            .note {
                position: relative;
                font-size: 12px;
                line-height: 18px;
                color: #000;
                font-weight: 400;
                padding-left: 10px;
                &:before {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    content: '*';
                }
            }
        }
    }
}

/* mypage */
.mypage {
    .article-header {
        padding: 30px 0 15px;
        .container {
            position: relative;
            h3 {
                font-size: 14px;
                color: $kcolor;
                font-weight: 500;
            }
            .btn-more {
                position: absolute;
                bottom: -5px;
                right: 20px;
                display: inline-block;
                font-size: 14px;
                color: #919191;
                font-weight: 500;
                padding-bottom: 5px;
                border-bottom: 1px solid #919191;
            }
        }
    }
    .shopping-info {
        .article-content {
            > ol {
                font-size: 0;
                text-align: center;
                > li {
                    position: relative;
                    display: inline-block;
                    width: 20%;
                    height: 108px;
                    vertical-align: top;
                    background-color: #f8f8f8;
                    > a {
                        display: block;
                        padding: 25px 0 0 0;
                        .icon {
                            position: relative;
                            width: 34px;
                            margin: 0 auto;
                            img {
                                display: block;
                                width: 100%;
                            }
                            span {
                                position: absolute;
                                top: -7px;
                                right: -5px;
                                width: 20px;
                                height: 20px;
                                display: block;
                                font-size: 13px;
                                color: #fff;
                                line-height: 20px;
                                font-weight: bold;
                                text-align: center;
                                @include msr();
                                border-radius: 50%;
                                background-color: $kcolor;
                            }
                        }
                        p {
                            font-size: 12px;
                            color: #000;
                            font-weight: 400;
                            line-height: 14px;
                            
                        }
                    }
                    &:nth-of-type(1), &:nth-of-type(3) {
                        background-color: #ecebeb;
                        &:after {
                            position: absolute;
                            top: 0;
                            right: -18px;
                            display: block;
                            width: 18px;
                            height: 100%;
                            content: '';
                            z-index: 1;
                            background-image: url(/content/pest-mobile/images/mypage/bg_shopping_info_even.png);
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            background-size: 18px auto;
                        }
                    }
                    &:nth-of-type(2) {
                        &:after {
                            position: absolute;
                            top: 0;
                            right: -18px;
                            display: block;
                            width: 18px;
                            height: 100%;
                            content: '';
                            z-index: 1;
                            background-image: url(/content/pest-mobile/images/mypage/bg_shopping_info_odd.png);
                            background-repeat: no-repeat;
                            background-position: 0 0;
                            background-size: 18px auto;
                        }
                    }
                    &:nth-of-type(4) {
                        padding-right: 9px;
                        &:after {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 1px;
                            height: 60px;
                            content: '';
                            display: block;
                            background-color: #dfdfdf;
                            transform: translateY(-50%);
                        }
                    }
                    &:nth-of-type(5) {
                        padding-left: 0;
                    }
                    & ~ li {
                        padding-left: 18px;
                    }
                }
            }
        }
    }
    .lately-order-history {
        border-bottom: 8px solid #f5f5f5;
        .article-content {
            .btn-area {
                text-align: center;
                padding: 20px 20px 30px;
                .btn {
                    font-size: 15px;
                    color: #000;
                    font-weight: 500;
                    line-height: 43px;
                    &.btn-lg {
                        display: block;
                        width: 100%;
                    }
                    &.btn-white {
                        border: 1px solid #e4e4e4;
                    }
                }
            }
        }
    }
    .my-page-list {
        > ul {
            > li {
                border-bottom: 1px solid #d7d7d7;
                &:last-child {
                    border-bottom: 0;
                }
                > a {
                    display: block;
                    font-size: 14px;
                    color: #000;
                    font-weight: 500;
                    line-height: 54px;
                    padding-left: 20px;
                }
                > ul {
                    padding: 10px 0 10px 20px;
                    border-top: 1px solid #d7d7d7;
                    > li {
                        > a {
                            display: block;
                            position: relative;
                            font-size: 15px;
                            line-height: 40px;
                            color: #000;
                            font-weight: 500;
                            padding-left: 10px;
                            background-image: url(/content/pest-mobile/images/mypage/ico_arrow_right.png);
                            background-repeat: no-repeat;
                            background-size: 8px auto;
                            background-position: calc(100% - 20px) 50%;
                            &:before {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                content: '·';
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* order-his, delivery, .revocation */
.order-his, .delivery, .revocation {
    .section-header {
        padding: 20px 0 30px;
    }
    .section-content {
        .lately-order {
            border-top: 1px solid #d7d7d7;
        }
        .btn-area {
            text-align: center;
            padding: 20px 20px 0;
            .btn {
                font-size: 15px;
                color: #000;
                font-weight: 500;
                line-height: 43px;
                i {
                    display: inline-block;
                    vertical-align: top;
                    width: 17px;
                    height: 43px;
                    margin-left: 10px;
                    background-image: url(/content/pest-mobile/images/ico_arrow_bottom.png);
                    background-repeat: no-repeat;
                    background-size: 17px auto;
                    background-position: 50% 50%;
                }
                &.btn-lg {
                    display: block;
                    width: 100%;
                }
                &.btn-white {
                    border: 1px solid #e4e4e4;
                }
            }
        }
    }
}

/* order-details */
.order-details {
    .order-information {
        padding: 20px;
        border-bottom: 8px solid #f5f5f5;
        > dl {
            overflow: hidden;
            dt, dd {
                font-size: 12px;
                color: #000;
                font-weight: 500;
                line-height: 18px;
                float: left;
            }
            dt {
                clear: left;
                &:after {
                    content: ':';
                    margin: 0 3px;
                }
            }
        }
    }
    .section-header {
        padding: 10px 0;
        .container {
            .box {
                display: table;
                width: 100%;
                table-layout: fixed;
                div {
                    display: table-cell;
                    vertical-align: middle;
                    &.item-img {
                        width: 70px;
                        img {
                            display: block;
                            width: 100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: 50% 50%;
                        }
                    }
                    &.details {
                        padding: 0 20px;
                        b {
                            display: block;
                            font-size: 14px;
                            color: #000;
                            font-weight: 500;
                            line-height: 18px;
                        }
                        p {
                            font-size: 12px;
                            color: #919191;
                            font-weight: 400;
                            line-height: 18px;
                            margin-top: 5px;
                        }
                    }
                    &.state {
                        width: 60px;
                        text-align: center;
                        b {
                            font-size: 12px;
                            color: $kcolor;
                            font-weight: bold;
                        }
                    }
                }
            }
            .btn-area {
                text-align: center;
                margin-top: 20px;
                > ul {
                    display: table;
                    table-layout: fixed;
                    width: calc(100% + 10px);
                    margin: 0 -5px;
                    > li {
                        display: table-cell;
                        vertical-align: top;
                        padding: 0 5px;
                        > a {
                            display: block;
                            font-size: 14px;
                            color: #000;
                            font-weight: 500;
                            line-height: 26px;
                            border: 1px solid #e4e4e4;
                        }
                    }
                }
            }
        }
    }
    .section-content {
        article {
            padding: 20px 0;
            border-top: 8px solid #f5f5f5;
            .article-header {
                padding-bottom: 20px;
                h3 {
                    font-size: 14px;
                    color: $kcolor;
                    font-weight: 500;
                }
            }
            .article-content {
                ul {
                    > li {
                        dl {
                            display: table;
                            width: 100%;
                            table-layout: fixed;
                            dt, dd {
                                font-size: 15px;
                                color: #000;
                                line-height: 20px;
                                font-weight: 400;
                                display: table-cell;
                                vertical-align: top;
                            }
                            dd {
                                text-align: right;
                            }
                        }
                        & ~ li {
                            margin-top: 15px;
                        }
                    }
                }
            }
            .total {
                padding: 20px 20px 0;
                margin-top: 20px;
                border-top: 1px solid #d7d7d7;
                > dl {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    dt, dd {
                        font-size: 15px;
                        color: #000;
                        font-weight: 400;
                        display: table-cell;
                        vertical-align: top;
                    }
                    dd {
                        text-align: right;
                    }
                }
            }
            &.delivery-information {
                .article-content {
                    ul {
                        > li {
                            dl {
                                > dt {
                                    width: 100px;
                                }
                                > dd {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* coupon-area */
.coupon-area {
    padding-top: 20px;
    .section-header {
        .link-tab {
            padding: 0 20px;
        }
    }
    .section-content {
        padding-top: 35px;
        .no-coupon {
            text-align: center;
            font-size: 14px;
            padding: 100px 0;
            color: #000;
            font-weight: 400;
        }
        > ul {
            border-top: 1px solid #d7d7d7;
            > li {
                position: relative;
                padding: 20px;
                padding-right: 90px;
                border-bottom: 1px solid #d7d7d7;
                b {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    color: $kcolor;
                }
                .note {
                    position: relative;
                    font-size: 12px;
                    color: #919191;
                    line-height: 16px;
                    padding-left: 10px;
                    margin-top: 10px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '*';
                    }
                    & ~ .note {
                        margin-top: 0;
                    }
                }
                .btn-area {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    width: 60px;
                    transform: translateY(-50%);
                    .btn-down {
                        display: block;
                        width: 22px;
                        margin: 0 auto;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                    .btn-white {
                        display: none;
                        width: 60px;
                        font-size: 12px;
                        color: #000;
                        text-align: center;
                        font-weight: 500;
                        line-height: 20px;
                        margin: 0 auto;
                        border: 1px solid #e4e4e4;
                    }
                    &.down-success {
                        .btn-down {
                            display: none;
                        }
                        .btn-white {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
























































































