@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  min-width: 360px; }

body {
  position: relative;
  font-size: 13px;
  color: #000;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

.container {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none !important; }

a, button {
  color: #000;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

pre {
  white-space: pre-wrap; }

/* product-list */
.product-list {
  padding-top: 25px; }
  .product-list .article-header {
    padding-bottom: 30px; }
  .product-list .article-content {
    overflow: hidden; }

/* product-details */
.product-details {
  padding-top: 0; }
  .product-details #sub-head {
    border-bottom: 0;
    background: none; }

/* details-wrap */
.details-wrap .product-slider {
  position: relative; }
  .details-wrap .product-slider .swiper-wrapper .swiper-slide > a {
    display: block; }
    .details-wrap .product-slider .swiper-wrapper .swiper-slide > a > figure img {
      display: block;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
  .details-wrap .product-slider .swiper-pagination {
    position: absolute;
    bottom: 20px !important;
    left: 0; }
    .details-wrap .product-slider .swiper-pagination .swiper-pagination-bullet {
      position: relative;
      width: 10px;
      height: 10px;
      background: #fff;
      opacity: 1; }
      .details-wrap .product-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #0e3db4; }
.details-wrap .product-info {
  padding: 30px 0 35px; }
  .details-wrap .product-info .info-header {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 3px solid #000; }
    .details-wrap .product-info .info-header h3 {
      font-size: 20px;
      color: #000;
      font-weight: bold; }
    .details-wrap .product-info .info-header > p {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.4);
      line-height: 18px;
      margin-top: 10px; }
    .details-wrap .product-info .info-header .price-wrap {
      font-size: 0;
      margin-top: 15px;
      font-family: 'Montserrat', sans-serif; }
      .details-wrap .product-info .info-header .price-wrap span {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        color: #0e3db4;
        line-height: 22px;
        font-weight: bold;
        margin-right: 10px; }
      .details-wrap .product-info .info-header .price-wrap > p {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        color: #000;
        line-height: 22px;
        font-weight: bold; }
        .details-wrap .product-info .info-header .price-wrap > p b {
          font-size: 18px; }
        .details-wrap .product-info .info-header .price-wrap > p small {
          display: inline-block;
          vertical-align: top;
          font-size: 12px;
          margin-left: 10px;
          color: rgba(0, 0, 0, 0.4);
          text-decoration: line-through; }
    .details-wrap .product-info .info-header .btn-dibs {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      display: block;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      background-image: url(/content/pest-mobile/images/product/ico_heart.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% auto; }
      .details-wrap .product-info .info-header .btn-dibs.on {
        background-image: url(/content/pest-mobile/images/product/ico_heart_on.png); }
  .details-wrap .product-info .info-body {
    padding-top: 15px; }
    .details-wrap .product-info .info-body > ul > li > dl {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .details-wrap .product-info .info-body > ul > li > dl dt, .details-wrap .product-info .info-body > ul > li > dl dd {
        display: table-cell;
        vertical-align: top; }
      .details-wrap .product-info .info-body > ul > li > dl dt {
        width: 70px;
        font-size: 12px;
        color: #000;
        line-height: 20px; }
      .details-wrap .product-info .info-body > ul > li > dl dd {
        font-size: 0; }
        .details-wrap .product-info .info-body > ul > li > dl dd .btn-coupon {
          display: inline-block;
          vertical-align: top;
          font-size: 11px;
          color: #fff;
          line-height: 20px;
          font-weight: 500;
          padding: 0 25px 0 10px;
          background-color: #0e3db4;
          background-image: url(/content/pest-mobile/images/product/ico_down.png);
          background-repeat: no-repeat;
          background-size: 10px auto;
          background-position: calc(100% - 10px) 50%; }
        .details-wrap .product-info .info-body > ul > li > dl dd span {
          font-size: 11px;
          color: #919191;
          font-weight: 400;
          line-height: 20px;
          margin-left: 10px; }
        .details-wrap .product-info .info-body > ul > li > dl dd > p {
          font-size: 11px;
          color: #919191;
          font-weight: 400;
          line-height: 18px; }
    .details-wrap .product-info .info-body > ul > li ~ li {
      margin-top: 15px; }
.details-wrap article .article-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid #0e3db4; }
  .details-wrap article .article-header h3 {
    font-size: 12px;
    color: #0e3db4;
    font-weight: bold; }
  .details-wrap article .article-header .btn-more {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    color: #919191;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid #919191; }
.details-wrap article .article-content {
  padding-top: 20px; }
  .details-wrap article .article-content .btn-area {
    margin-top: 10px; }
    .details-wrap article .article-content .btn-area .btn-white {
      display: block;
      width: 76px;
      line-height: 26px;
      font-size: 12px;
      color: #000;
      font-weight: 500;
      margin-left: auto;
      text-align: center;
      border: 1px solid #d7d7d7; }
.details-wrap article ~ article {
  margin-top: 30px; }
.details-wrap .relation-item .article-content {
  width: calc(100% + 40px);
  margin: 0 -20px; }
  .details-wrap .relation-item .article-content .swiper {
    padding: 0 20px; }
    .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a {
      display: block; }
      .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .item-img {
        position: relative;
        border: 1px solid #d9d9d9; }
        .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .item-img img {
          display: block;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%; }
        .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .item-img .label {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 10px;
          width: 36px;
          font-size: 10px;
          text-align: center;
          color: #fff;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          line-height: 16px; }
          .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .item-img .label.sale {
            background-color: #0e3db4; }
          .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .item-img .label.new {
            background-color: #000; }
      .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .details {
        padding-top: 20px; }
        .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .details strong {
          display: block;
          font-size: 15px;
          font-weight: bold;
          color: #000; }
        .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .details p {
          font-size: 12px;
          color: #000;
          font-weight: 400;
          line-height: 16px;
          margin-top: 5px; }
        .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .details .sum {
          margin-top: 10px; }
          .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .details .sum b {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            line-height: 14px;
            color: #0e3db4;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif; }
          .details-wrap .relation-item .article-content .swiper .swiper-wrapper .swiper-slide > a .details .sum small {
            display: inline-block;
            vertical-align: top;
            font-family: 'Montserrat', sans-serif;
            font-size: 11px;
            color: #000;
            line-height: 14px;
            font-weight: 600;
            text-decoration: line-through; }
.details-wrap .info-details .article-header {
  border-bottom: 0; }
.details-wrap .info-details .article-content > figure {
  height: 700px;
  overflow: hidden; }
  .details-wrap .info-details .article-content > figure img {
    display: block;
    width: 100%; }
  .details-wrap .info-details .article-content > figure.show {
    height: auto; }
.details-wrap .info-details .article-content .btn-area .btn-details {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  line-height: 43px;
  border: 1px solid #e4e4e4; }
  .details-wrap .info-details .article-content .btn-area .btn-details i {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 43px;
    margin-left: 10px;
    background-image: url(/content/pest-mobile/images/ico_arrow_bottom.png);
    background-repeat: no-repeat;
    background-size: 17px auto;
    background-position: 50% 50%; }
.details-wrap .product-review-wrap .article-content {
  padding-top: 0; }
.details-wrap .qna-list .article-content {
  padding-top: 0; }
  .details-wrap .qna-list .article-content .default-board .accordion-list > li:first-child {
    border-top: 0; }
  .details-wrap .qna-list .article-content .default-board .accordion-list > li .btn-collapse {
    padding-left: 0;
    padding-right: 110px; }
    .details-wrap .qna-list .article-content .default-board .accordion-list > li .btn-collapse dl dt, .details-wrap .qna-list .article-content .default-board .accordion-list > li .btn-collapse dl dd {
      font-size: 12px;
      line-height: 18px; }
    .details-wrap .qna-list .article-content .default-board .accordion-list > li .btn-collapse dl dt {
      color: #919191; }
.details-wrap .amount-info .article-content > dl > dt {
  font-size: 13px;
  color: #000;
  font-weight: bold;
  line-height: 22px; }
  .details-wrap .amount-info .article-content > dl > dt ~ dt {
    margin-top: 30px; }
.details-wrap .amount-info .article-content > dl > dd {
  font-size: 13px;
  color: #000;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px; }
  .details-wrap .amount-info .article-content > dl > dd > ul > li {
    position: relative;
    padding-left: 10px; }
    .details-wrap .amount-info .article-content > dl > dd > ul > li:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '·'; }
    .details-wrap .amount-info .article-content > dl > dd > ul > li dl {
      display: table; }
      .details-wrap .amount-info .article-content > dl > dd > ul > li dl dt, .details-wrap .amount-info .article-content > dl > dd > ul > li dl dd {
        display: table-cell;
        vertical-align: top; }
      .details-wrap .amount-info .article-content > dl > dd > ul > li dl dt:after {
        content: ':';
        padding: 0 5px; }
      .details-wrap .amount-info .article-content > dl > dd > ul > li dl dd > ul > li {
        position: relative;
        padding-left: 10px; }
        .details-wrap .amount-info .article-content > dl > dd > ul > li dl dd > ul > li:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '-'; }
    .details-wrap .amount-info .article-content > dl > dd > ul > li.block > dl > dt, .details-wrap .amount-info .article-content > dl > dd > ul > li.block > dl dd {
      display: block; }
.details-wrap .amount-info .article-content .attention {
  position: relative;
  font-size: 13px;
  color: #000;
  font-weight: 400;
  line-height: 22px;
  margin-top: 30px;
  padding-left: 20px; }
  .details-wrap .amount-info .article-content .attention:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '※'; }

/* quick-buy */
.quick-buy {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 0; }
  .quick-buy > .btn {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 40px; }
    .quick-buy > .btn img {
      display: inline-block;
      width: 17px;
      margin-right: 5px; }
    .quick-buy > .btn.btn-buy {
      background-color: #0e3db4; }
    .quick-buy > .btn.btn-n-pay {
      background-color: #00c73c; }

/* buy-wrap */
.buy-wrap {
  display: none; }
  .buy-wrap .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.3); }
  .buy-wrap .buy-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 12; }
    .buy-wrap .buy-content .btn-buy-close {
      display: block;
      width: 72px;
      height: 25px;
      margin: 0 auto;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #ebebeb; }
      .buy-wrap .buy-content .btn-buy-close img {
        display: block;
        width: 17px;
        margin: 0 auto; }
    .buy-wrap .buy-content article {
      display: block;
      background-color: #fff; }
      .buy-wrap .buy-content article .article-content {
        max-height: 280px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px 20px; }
        .buy-wrap .buy-content article .article-content .option-dropdown .btn-drop {
          position: relative;
          display: block;
          width: 100%;
          font-size: 12px;
          color: #000;
          font-weight: 500;
          text-align: left;
          line-height: 38px;
          padding: 0 40px 0 15px;
          border: 1px solid #919191; }
          .buy-wrap .buy-content article .article-content .option-dropdown .btn-drop:after {
            position: absolute;
            top: 0;
            right: 15px;
            width: 15px;
            height: 100%;
            display: block;
            content: '';
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            background-repeat: no-repeat;
            background-size: 15px auto;
            background-position: 50% 50%;
            background-image: url(/content/pest-mobile/images/ico_arrow_bottom.png); }
        .buy-wrap .buy-content article .article-content .option-dropdown ul {
          display: none;
          max-height: 130px;
          overflow-x: hidden;
          overflow-y: auto;
          border: 1px solid #919191;
          border-top: 0; }
        .buy-wrap .buy-content article .article-content .option-dropdown.default-drop > ul > li ~ li {
          border-top: 1px solid #919191; }
        .buy-wrap .buy-content article .article-content .option-dropdown.default-drop > ul > li > a {
          display: block;
          width: 100%;
          font-size: 12px;
          color: #919191;
          font-weight: 400;
          text-align: left;
          line-height: 38px;
          padding: 0 15px; }
        .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul {
          padding: 15px 0; }
          .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li > a {
            display: table;
            width: 100%;
            padding: 0 15px;
            table-layout: fixed; }
            .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li > a > div {
              display: table-cell;
              vertical-align: middle; }
              .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li > a > div.item-img {
                width: 40px; }
                .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li > a > div.item-img img {
                  display: block;
                  width: 100%;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: 50% 50%; }
              .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li > a > div.details {
                padding-left: 15px; }
                .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li > a > div.details small {
                  display: block;
                  font-size: 11px;
                  color: #919191;
                  font-weight: 400; }
                .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li > a > div.details p {
                  font-size: 14px;
                  color: #000;
                  font-weight: bold;
                  font-family: 'Montserrat', sans-serif;
                  margin-top: 10px; }
          .buy-wrap .buy-content article .article-content .option-dropdown.img-drop > ul > li ~ li {
            margin-top: 10px; }
        .buy-wrap .buy-content article .article-content .option-dropdown.active .btn-drop:after {
          transform: rotate(-180deg); }
        .buy-wrap .buy-content article .article-content .option-dropdown.active ul {
          display: block; }
        .buy-wrap .buy-content article .article-content .option-dropdown ~ .option-dropdown {
          margin-top: 10px; }
        .buy-wrap .buy-content article .article-content .select-list > ul > li {
          padding: 10px 0;
          border-bottom: 1px solid #919191; }
          .buy-wrap .buy-content article .article-content .select-list > ul > li .box {
            position: relative; }
            .buy-wrap .buy-content article .article-content .select-list > ul > li .box > p {
              font-size: 12px;
              color: #000;
              font-weight: 500; }
            .buy-wrap .buy-content article .article-content .select-list > ul > li .box .btn-del {
              position: absolute;
              top: 0;
              right: 0;
              width: 10px;
              display: block; }
              .buy-wrap .buy-content article .article-content .select-list > ul > li .box .btn-del img {
                display: block;
                width: 100%; }
            .buy-wrap .buy-content article .article-content .select-list > ul > li .box .pay-info {
              position: relative;
              margin-top: 10px;
              text-align: right; }
              .buy-wrap .buy-content article .article-content .select-list > ul > li .box .pay-info .btn-controls {
                position: absolute;
                top: 0;
                left: 0; }
              .buy-wrap .buy-content article .article-content .select-list > ul > li .box .pay-info strong {
                font-size: 15px;
                color: #000;
                line-height: 22px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif; }
      .buy-wrap .buy-content article .total {
        font-size: 0;
        text-align: right;
        padding: 0 20px;
        border-top: 1px solid #919191; }
        .buy-wrap .buy-content article .total > dl dt, .buy-wrap .buy-content article .total > dl dd {
          display: inline-block; }
        .buy-wrap .buy-content article .total > dl dt {
          line-height: 40px;
          font-size: 12px;
          color: #000;
          font-weight: 500;
          margin-right: 15px; }
        .buy-wrap .buy-content article .total > dl dd {
          font-size: 18px;
          color: #0e3db4;
          font-weight: bold;
          font-family: 'Montserrat', sans-serif;
          line-height: 40px; }
      .buy-wrap .buy-content article > .btn-area {
        text-align: center;
        font-size: 0; }
        .buy-wrap .buy-content article > .btn-area .btn {
          display: inline-block;
          vertical-align: top;
          height: 40px;
          line-height: 40px;
          font-size: 15px; }
          .buy-wrap .buy-content article > .btn-area .btn.btn-basket {
            width: 42px;
            background-color: #000;
            background-image: url(/content/pest-mobile/images/product/ico_cart.png);
            background-repeat: no-repeat;
            background-size: 21px auto;
            background-position: 50% 50%; }
          .buy-wrap .buy-content article > .btn-area .btn.btn-now-buy {
            width: calc(100% - 42px);
            color: #fff;
            font-weight: 500;
            background-color: #0e3db4; }
          .buy-wrap .buy-content article > .btn-area .btn.btn-n-pay {
            display: block; }
            .buy-wrap .buy-content article > .btn-area .btn.btn-n-pay > img {
              height: 40px; }
  .buy-wrap.show {
    display: block; }

body {
  padding-bottom: 40px !important; }
  body.sub-header-fixed #sub-head {
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7; }

/* modal */
.modal.modal-product-slider .backdrop {
  background-color: #343434; }
.modal.modal-product-slider .modal-content {
  width: 100%;
  height: 100vh;
  background: none; }
  .modal.modal-product-slider .modal-content article {
    position: relative;
    height: 100vh;
    padding: 60px 0; }
    .modal.modal-product-slider .modal-content article .btn-modal-close {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      width: 20px; }
      .modal.modal-product-slider .modal-content article .btn-modal-close img {
        display: block;
        width: 100%; }
    .modal.modal-product-slider .modal-content article .container-fluid {
      display: table;
      width: 100%;
      height: 100%;
      table-layout: fixed; }
      .modal.modal-product-slider .modal-content article .container-fluid .article-content {
        display: table-cell;
        vertical-align: middle;
        height: 100%; }
        .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider {
          position: relative; }
          .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider .swiper-wrapper .swiper-slide > figure {
            display: block; }
            .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider .swiper-wrapper .swiper-slide > figure img {
              display: block;
              width: 100%; }
          .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider .fraction-pagination {
            font-size: 20px;
            color: #fff;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            margin-top: 35px; }
          .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider .slider-controls button {
            position: absolute;
            top: calc(50% - 27.5px);
            display: block;
            width: 20px;
            z-index: 1;
            transform: translateY(-50%); }
            .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider .slider-controls button img {
              display: block;
              width: 100%; }
            .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider .slider-controls button.button-prev {
              left: 20px; }
            .modal.modal-product-slider .modal-content article .container-fluid .article-content .product-pop-slider .slider-controls button.button-next {
              right: 20px; }
.modal.modal-review-write {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow-y: auto;
  background-color: #fff; }
  .modal.modal-review-write .review-write .container .section-header {
    text-align: center;
    padding: 40px 0 35px; }
    .modal.modal-review-write .review-write .container .section-header strong {
      display: block;
      font-size: 15px;
      color: #000;
      font-weight: 500; }
    .modal.modal-review-write .review-write .container .section-header .grade {
      margin-top: 15px; }
      .modal.modal-review-write .review-write .container .section-header .grade > ol {
        font-size: 0; }
        .modal.modal-review-write .review-write .container .section-header .grade > ol > li {
          display: inline-block;
          width: 41px;
          vertical-align: top;
          margin: 0 5px; }
          .modal.modal-review-write .review-write .container .section-header .grade > ol > li > a {
            display: block; }
            .modal.modal-review-write .review-write .container .section-header .grade > ol > li > a img {
              display: block;
              width: 100%; }
      .modal.modal-review-write .review-write .container .section-header .grade > b {
        display: block;
        font-size: 20px;
        color: #0e3db4;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        margin-top: 15px; }
  .modal.modal-review-write .review-write .container .section-content .file-attach {
    margin-top: 25px; }
    .modal.modal-review-write .review-write .container .section-content .file-attach input[type="file"] {
      display: none; }
    .modal.modal-review-write .review-write .container .section-content .file-attach .btn-file {
      display: block;
      width: 100%;
      font-size: 15px;
      color: #fff;
      text-align: center;
      font-weight: 500;
      line-height: 40px;
      background-color: #0e3db4; }
    .modal.modal-review-write .review-write .container .section-content .file-attach .attention {
      position: relative;
      font-size: 12px;
      color: #ababab;
      font-weight: 500;
      padding-left: 20px;
      margin-top: 10px; }
      .modal.modal-review-write .review-write .container .section-content .file-attach .attention:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '※'; }
  .modal.modal-review-write .review-write .container .section-content .file-list {
    padding: 20px 0 30px; }
    .modal.modal-review-write .review-write .container .section-content .file-list > ul {
      font-size: 0; }
      .modal.modal-review-write .review-write .container .section-content .file-list > ul > li {
        display: inline-block;
        width: 100px;
        margin-right: 10px; }
        .modal.modal-review-write .review-write .container .section-content .file-list > ul > li:last-child {
          margin-right: 0; }
        .modal.modal-review-write .review-write .container .section-content .file-list > ul > li .file-wrap {
          position: relative; }
          .modal.modal-review-write .review-write .container .section-content .file-list > ul > li .file-wrap .btn-del {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 15px; }
            .modal.modal-review-write .review-write .container .section-content .file-list > ul > li .file-wrap .btn-del img {
              display: block;
              width: 100%; }
          .modal.modal-review-write .review-write .container .section-content .file-list > ul > li .file-wrap > figure img {
            display: block;
            width: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover; }
          .modal.modal-review-write .review-write .container .section-content .file-list > ul > li .file-wrap .btn-file-modify {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            font-size: 12px;
            color: #fff;
            line-height: 18px;
            width: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.2); }
  .modal.modal-review-write .review-write .container .section-content .btn-area {
    font-size: 0;
    text-align: center;
    width: calc(100% + 40px);
    margin: 0 -20px; }
    .modal.modal-review-write .review-write .container .section-content .btn-area .btn {
      display: inline-block;
      vertical-align: top;
      font-size: 15px;
      font-weight: 500;
      line-height: 40px; }
      .modal.modal-review-write .review-write .container .section-content .btn-area .btn.btn-lg {
        display: block;
        width: 100%; }
      .modal.modal-review-write .review-write .container .section-content .btn-area .btn.btn-md {
        width: 50%; }
      .modal.modal-review-write .review-write .container .section-content .btn-area .btn.btn-gray {
        color: #000;
        background-color: #f5f5f5; }
      .modal.modal-review-write .review-write .container .section-content .btn-area .btn.btn-blue {
        color: #fff;
        background-color: #0e3db4; }

/*# sourceMappingURL=product.css.map */
