@import 'common';

/* common */
input {
    outline: none;
    &.form-control {
        display: block;
        width: 100%;
        height: 26px;
        font-size: 13px;
        color: #000;
        padding: 0 10px;
        border: 1px solid #d7d7d7;
        background-color: #fff;
        &::placeholder {
            color: rgba(#000, .4);
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: rgba(#000, .4);
        }
        &::-ms-input-placeholder {
            color: rgba(#000, .4);
        }
    }
}
select {
    outline: none;
    &.form-control {
        display: block;
        width: 100%;
        height: 26px;
        font-size: 13px;
        color: #000;
        padding: 0 10px;
        border: 1px solid #d7d7d7;
        background-color: #fff;
    }
}
textarea {
    resize: none;
    outline: none;
    &.form-control {
        display: block;
        width: 100%;
        height: 26px;
        font-size: 13px;
        line-height: 20px;
        color: #000;
        padding: 10px;
        border: 1px solid #d7d7d7;
        background-color: #fff;
    }
}

.form-group {
    &.text-box {
        padding: 10px;
        border: 1px solid #d7d7d7;
        background-color: #fff;
        .form-control {
            height: 100px;
            padding: 0;
            border: 0;
        }
        span {
            display: block;
            font-size: 12px;
            color: #000;
            font-weight: 500;
            line-height: 40px;
            text-align: right;
        }
    }
}

/* global-search */
.global-search {
    /*height: 59px;*/
    margin: 0 auto;
    padding: 14px 0;
    width: calc(100% - 60px);
    .form-group {
        position: relative;
        padding-right: 30px;
        .form-control {
            height: auto;
            padding: 5px 10px;
            border: 0;
            border-bottom: 1px solid #000;
        }
        .btn-search {
            position: absolute;
            top: 50%;
            right: 5px;
            width: 20px;
            display: block;
            transform: translateY(-50%);
            img {
                display: block;
                width: 100%;
            }
        }
    }
}

#content {
    padding-bottom: 60px;
}

/* search-result */
.search-result {
    padding-top: 20px;
    .container {
        .article-header {
            position: relative;
            p {
                font-size: 10px;
                font-weight: bold;
                color: #000;
                line-height: 26px;
                @include msr();
                span {
                    color: $kcolor;
                }
            }
            .form-group {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 110px;
            }
        }
        .article-content {
            padding-top: 10px;
            > ul {
                overflow: hidden;
                > li {
                    float: left;
                    width: 50%;
                    > a {
                        display: block;
                        .item-img {
                            position: relative;
                            border: 1px solid #d9d9d9;
                            img {
                                display: block;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: 50% 50%;
                            }
                            .label {
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-size: 10px;
                                width: 36px;
                                font-size: 10px;
                                text-align: center;
                                color: #fff;
                                @include msr();
                                font-weight: 500;
                                line-height: 16px;
                                &.sale {
                                    background-color: $kcolor;
                                }
                                &.new {
                                    background-color: #000;
                                }
                            }
                        }
                        .details {
                            padding-top: 20px;
                            strong {
                                display: block;
                                font-size: 15px;
                                font-weight: bold;
                                color: #000;
                            }
                            p {
                                font-size: 12px;
                                color: #000;
                                font-weight: 400;
                                line-height: 16px;
                                margin-top: 5px;
                            }
                            .sum {
                                margin-top: 10px;
                                b {
                                    display: inline-block;
                                    vertical-align: top;
                                    font-size: 14px;
                                    line-height: 14px;
                                    color: $kcolor;
                                    font-weight: bold;
                                    @include msr();
                                }
                                small {
                                    display: inline-block;
                                    vertical-align: top;
                                    @include msr();
                                    font-size: 11px;
                                    color: #000;
                                    line-height: 14px;
                                    font-weight: 600;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                    &:nth-of-type(2n + 1) {
                        padding-right: 7px;
                    }
                    &:nth-of-type(2n + 2) {
                        padding-left: 7px;
                    }
                    &:nth-of-type(2) ~ li {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

































































